﻿<div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="text-center" width="35px">#</th>
                    <th class="text-center" width="35px;"><input type="checkbox" id="checkall" onclick="checkAll()"/></th>
                    <th>No</th>
                    <th>Name</th>
                    <th>Unit Price</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                    <th>Discount</th>
                    <th>DPP</th>
                    <th>PPN</th>
                    <th>Tarif PPnBM</th>
                    <th>PPnBM</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="danger" colspan="12"><b class="padding-5">No Record</b></td>
                </tr>
            </tbody>       
        </table>
    </div>
</div>
