﻿<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Transaksi</h4>
    <hr />

    <form role="form" class="form-horizontal" id="InputVATInDetailForm">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Unit Name</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtUnitName" type="text" class="form-control" name="UnitName" />
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Unit Price</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtUnitPrice" type="text" class="form-control" name="UnitPrice" />
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Quantity</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtQuantity" type="text" class="form-control" name="Quantity" />
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Total Price</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtTotalPrice" type="text" class="form-control" name="TotalPrice"/>
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Discount</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtDiscount" type="text" class="form-control" name="Discount" />
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">DPP</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtDPP" type="text" class="form-control" name="DPP" />
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">PPN</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtPPN" type="text" class="form-control" name="PPN" />
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Tarif PPnBM</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtTarifPPNBM" type="text" class="form-control" name="TarifPPnBM" />
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">PPnBM</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtPPNBM" type="text" class="form-control" name="PPnBM" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="btn-group-sm">
                    <button id="btnAddDetail" type="submit" class="btn btn-primary">Save</button>
                    <button id="btnCancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>

    </form>
</div>

<script type="text/javascript">
    var thisRowNum = @ViewBag.RowEdit == 0 ? VATInDetails.length : @ViewBag.RowEdit;
    initPopup();
    $(document).ready(function () {
        $('#InputVATInDetailForm').bootstrapValidator({
            live: 'enabled',
            fields: {
                UnitName: {
                    validators: {
                        notEmpty: {
                            message: 'Unit Name is required and can\'t be empty'
                        }
                    }
                },
                UnitPrice: {
                    validators: {
                        notEmpty: {
                            message: 'Unit Price is required and can\'t be empty'
                        },
                        integer: {
                            message: 'Unit Price requires a valid number'
                        }
                    }
                },
                Quantity: {
                    validators: {
                        notEmpty: {
                            message: 'Quantity is required and can\'t be empty'
                        },
                        integer: {
                            message: 'Quantity requires a valid number'
                        }
                    }
                },
                TotalPrice: {
                    validators: {
                        notEmpty: {
                            message: 'Total Price is required and can\'t be empty'
                        },
                        integer: {
                            message: 'Total Price requires a valid number'
                        }
                    }
                },
                Discount: {
                    validators: {
                        notEmpty: {
                            message: 'Discount is required and can\'t be empty'
                        },
                        integer: {
                            message: 'Discount requires a valid number'
                        }
                    }
                },
                DPP: {
                    validators: {
                        notEmpty: {
                            message: 'DPP is required and can\'t be empty'
                        },
                        integer: {
                            message: 'DPP requires a valid number'
                        }
                    }
                },
                PPN: {
                    validators: {
                        notEmpty: {
                            message: 'PPN is required and can\'t be empty'
                        },
                        integer: {
                            message: 'PPN requires a valid number'
                        }
                    }
                },
                TarifPPnBM: {
                    validators: {
                        notEmpty: {
                            message: 'Tarif PPnBM is required and can\'t be empty'
                        },
                        integer: {
                            message: 'Tarif PPnBM requires a valid number'
                        }
                    }
                },
                PPnBM: {
                    validators: {
                        notEmpty: {
                            message: 'PPnBM is required and can\'t be empty'
                        },
                        integer: {
                            message: 'PPnBM requires a valid number'
                        }
                    }
                }
            }
        })
        .on('success.form.bv', function (e) {
            // Prevent form submission
            e.preventDefault();

            onAddDetail();
        });
    });

    function onAddDetail() {
            var VATInDetail = {
            RowNum      : thisRowNum,
            UnitName    : $("#txtUnitName").val().trim(),
            UnitPrice   : $("#txtUnitPrice").val().trim(),
            Quantity    : $("#txtQuantity").val().trim(),
            TotalPrice  : $("#txtTotalPrice").val().trim(),
            Discount    : $("#txtDiscount").val().trim(),
            DPP         : $("#txtDPP").val().trim(),
            PPN         : $("#txtPPN").val().trim(),
            TarifPPNBM  : $("#txtTarifPPNBM").val().trim(),
            PPNBM       : $("#txtPPNBM").val().trim()
        };
        if(@ViewBag.RowEdit == 0) {
            //new mode
            VATInDetails.push(VATInDetail);
        }
        else {
            //edit mode
            for (var i = 0; i < VATInDetails.length; i++) {
                if (VATInDetails[i].RowNum == thisRowNum) {
                    VATInDetails[i] = VATInDetail;
                    console.log(VATInDetail.RowNum);
                    break;
                }
            }
        }
        onBindGrid();
        $("#btnCancel").click();
    }

    function initPopup() {

        if(@ViewBag.RowEdit > 0) {
            for (var i = 0; i < VATInDetails.length; i++) {
                if (VATInDetails[i].RowNum == thisRowNum) {
                    $("#txtUnitName").val(VATInDetails[i].UnitName);
                    $("#txtUnitPrice").val(VATInDetails[i].UnitPrice);
                    $("#txtQuantity").val(VATInDetails[i].Quantity);
                    $("#txtTotalPrice").val(VATInDetails[i].TotalPrice);
                    $("#txtDiscount").val(VATInDetails[i].Discount);
                    $("#txtDPP").val(VATInDetails[i].DPP);
                    $("#txtPPN").val(VATInDetails[i].PPN);
                    $("#txtTarifPPNBM").val(VATInDetails[i].TarifPPNBM);
                    $("#txtPPNBM").val(VATInDetails[i].PPNBM);
                    break;
                }
            }
        }
    }
</script>