﻿@{
    ViewBag.Title = "VATInManualInput";
}

    <h4 id="h4Id" style="text-align : center; margin-top: 1px; margin-bottom: 20px">Input Tax Invoice Only For Tax Invoice Without QR Code</h4>

@section HeadScript{
    <style>
        ._searchCriteria {
            display: none;
        }
    </style>
}

<form role="form" class="form-horizontal" id="inputVATInForm"
      data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
    <h4>Transaction Header</h4>
    @Html.Partial("_HeaderForm")
    <div class="_line-br"></div>

    <h4>Transaction Detail</h4>
    @Html.Partial("_DetailForm")
    <div class="row">
        <div class="col-xs-6 text-left">
            <div class="btn-group-sm">
                @Html.ActionLink("Add New Item", "PopupDetail", "VATInManualInput", null, new { @class = "modal-link btn btn-primary" })
                <button id="btnClearItems" type="button" class="btn btn-danger">Clear Selected Items</button>
            </div>
            @Html.Partial("_UITotalSelectedIndicator")
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-right">
            <div class="btn-group-md">
                @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATInManualInput", "Save"))
                {
                    <button id = "btnSubmit"  type="submit" class="btn btn-success" data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading...">Save</button>
                }
                @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATInManualInput", "SaveAndRepeat"))
                {
                    <button id = "btnSaveReplace" type="submit" class="btn btn-success" data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading...">Save and Repeat</button>
                }
                <button id="btnClear" type="button" class="btn btn-danger">Clear</button>
            </div>
        </div>
    </div>
</form>

@Html.Partial("_Javascript")