﻿@using System.Text
@using Toyota.Common.Utilities

@{
    MenuList menuList = Html.Toyota().Page.AuthorizedMenu;    
}

@functions {
    MvcHtmlString _DrawMenuIcon(Menu menuItem)
    {
        StringBuilder scriptBuilder = new StringBuilder();
        if (!string.IsNullOrEmpty(menuItem.Glyph))
        {
            scriptBuilder.Append(string.Format("<i class=\"fa fa-{0} fa-fw\"></i>&nbsp;", menuItem.Glyph.ToLower()));
        }
        else if (!string.IsNullOrEmpty(menuItem.IconUrl))
        {
            // TODO: gambar icon di sini
        }
        return new MvcHtmlString(scriptBuilder.ToString());
    }
}

@if (!menuList.IsNullOrEmpty())
{    
    <ul class="nav _sidebar-menu">
    @foreach (Menu menuItem in menuList)
    {
        if (!menuItem.Visible)
        {
            continue;
        }

        <li>
        @if (menuItem.HasChildren())
        {
            <a href="#">@_DrawMenuIcon(menuItem)@menuItem.Text&nbsp;<span class="fa arrow"></span></a>
            <ul id="@menuItem.Id" class="nav nav-second-level">
            @foreach (Menu submenuItem in menuItem.Children)
            {
                if (submenuItem.Separator == MenuSeparator.Before)
                {
                    <li class="divider"></li>
                }
                <li>
                @if (submenuItem.HasChildren())
                {
                    <a href="#">@_DrawMenuIcon(submenuItem)@submenuItem.Text&nbsp;<span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                    @foreach (Menu subsubmenuItem in submenuItem.Children)
                    {
                        if (subsubmenuItem.Separator == MenuSeparator.Before)
                        {
                            <li class="divider"></li>
                        }
                        else if (subsubmenuItem.Separator == MenuSeparator.After)
                        {
                            <li class="divider"></li>
                        }
                        else
                        {
                            <li>
                                <a href="@subsubmenuItem.NavigateUrl" class="_sub-menu" data-parent="@menuItem.Id">@_DrawMenuIcon(subsubmenuItem)&nbsp;@subsubmenuItem.Text</a>
                            </li>
                        }
                    }
                    </ul>
                }
                else
                {                        
                    <a href="@submenuItem.NavigateUrl" class="_sub-menu" data-parent="@menuItem.Id">@_DrawMenuIcon(submenuItem)&nbsp;@submenuItem.Text</a>                        
                }
                </li>
                    
                if (submenuItem.Separator == MenuSeparator.After)
                {
                    <li class="divider"></li>
                }
            }
            </ul>
        }
        else
        {
            <a href="@menuItem.NavigateUrl">@_DrawMenuIcon(menuItem)&nbsp;@menuItem.Text</a>
        }
        </li>
    }
    </ul>
}