﻿<script src="@Url.Content("~/Content/js/dropzone.js")"></script>
<script type="text/javascript">

    getDropdownData("@Html.Toyota().Page.BaseUrl" + "/Master_GeneralParam/GetGeneralParamDropdown?ParamType=SKBType", "ddlSKBtype");
    getDropdownData("@Html.Toyota().Page.BaseUrl" + "/Master_GeneralParam/GetGeneralParamDropdown?ParamType=Country", "ddlSupplierCountry");
    getDropdownData("@Html.Toyota().Page.BaseUrl" + "/Master_GeneralParam/GetGeneralParamDropdownByCode", "ddlMapCode");
</script>

@*<script type="text/javascript">
    $('ul.nav > li').click(function (e) {

        var button = e.target.id
        console.log("button nav ", button)
        e.preventDefault();
        //$('ul.nav > li').removeClass('active');
        //$('ul.nav > li').addClass('style=background-color:red')

        //$(this).addClass('active');

        $('#btnSaveCOD').button('reset');
        $('#btnSaveRepCOD').button('reset');
    });

</script>*@

<script type="text/javascript">

    var SKB = {};
    var COD = {};
    var btnId = {};

    function validate_fileupload(fileName) {
        var allowed_extensions = new Array("pdf");
        var file_extension = fileName.split('.').pop().toLowerCase(); // split function will split the filename by dot(.), and pop function will pop the last element from the array which will give you the extension as well. If there will be no extension then it will return the filename.

        if (allowed_extensions != file_extension) {
            alert("Only PDF File type allowed.");
            $("#FileUploadSKB").val('');
            $("#FileUploadCOD").val('');
        }
    }

    function validatePhoneNoSKB() {

        var txtPhoneNo = document.getElementById("txtSupplierPhoneNo").value;

        console.log("phone length", txtPhoneNo.length)

    
        if (txtPhoneNo.length == 0) {
            //alert("kosong bro");
            document.getElementById("lblphoneno").style.display = "none";
            document.getElementById("btnSaveSKB").disabled = false;
            document.getElementById("btnSaveRepSKB").disabled = false;
        } 

        if (!/^[0-9]+$/.test(txtPhoneNo)) {
            document.getElementById("lblphoneno").style.display = "block";
            document.getElementById("btnSaveSKB").disabled = true;
            document.getElementById("btnSaveRepSKB").disabled = true;
       
        } else {
            document.getElementById("lblphoneno").style.display = "none";
            document.getElementById("btnSaveSKB").disabled = false;
            document.getElementById("btnSaveRepSKB").disabled = false;
        }
    }

    function validatePhoneNoCOD() {

        var txtPhoneNo = document.getElementById("txtSupplierPhoneNoCOD").value;

        console.log("phone length", txtPhoneNo.length)

        if (txtPhoneNo.length == 0) {
            //alert("kosong bro");
            document.getElementById("lblphonenoCOD").style.display = "none";
            document.getElementById("btnSaveCOD").disabled = false;
            document.getElementById("btnSaveRepCOD").disabled = false;
        }

        if (!/^[0-9]+$/.test(txtPhoneNo)) {
            document.getElementById("lblphonenoCOD").style.display = "block";
            document.getElementById("btnSaveCOD").disabled = true;
            document.getElementById("btnSaveRepCOD").disabled = true;

        } else {
            document.getElementById("lblphonenoCOD").style.display = "none";
            document.getElementById("btnSaveCOD").disabled = false;
            document.getElementById("btnSaveRepCOD").disabled = false;
        }
    }


    function changeDate() {
        var vSKBDate = $("#txtSKBDate").val();

        document.getElementById("txtValidityPeriodFrom").value = vSKBDate;
    }

    function skbtypech() {
        var vSKBType = document.getElementById("ComboSKBtype");
        var vSKBTypeText = vSKBType.options[vSKBType.selectedIndex].innerHTML;
        //alert(vSKBTypeText);
        if (vSKBTypeText == "Others") {
            document.getElementById("txtSKBTypeOthers").style.display = "";
        } else {
            document.getElementById("txtSKBTypeOthers").style.display = "none";
        }

        if (vSKBTypeText != "") {
            document.getElementById('lblSKBTypeAlert').style.display = 'none';
        }
    }

    function supplierCountryChange() {
        var vSupplierCountry = document.getElementById("ddlSupplierCountry");
        var vSvSupplierCountryText = vSupplierCountry.options[vSupplierCountry.selectedIndex].innerHTML;

        if (vSvSupplierCountryText != "") {
            document.getElementById('lblSupplierCountryAlert').style.display = 'none';
        }
    }

    $('#btnClearSKB').click(function () {
        var warning = 'Are you sure you want to clear this form?';
        if (confirm(warning)) {
            ClearForm();
        }
    });

    $('#btnClearCOD').click(function () {
        var warning = 'Are you sure you want to clear this form?';
        if (confirm(warning)) {
            ClearForm();
        }
    });

    function ClearForm() {
        SKB = {};
        COD = {};
        //SKB
        $("#ComboSKBtype").val("");


        document.getElementById("txtSKBTypeOthers").value = "";
        document.getElementById("txtSKBTypeOthers").style.display = "none";
        document.getElementById("txtSKBNumber").value = "";
        document.getElementById("txtSKBDate").value = "";
        document.getElementById("txtSupplierName").value = "";
        document.getElementById("txtSupplierNPWP").value = "";
        document.getElementById("txtSupplierAddress").value = "";
        document.getElementById("txtSupplierPhoneNo").value = "";
        document.getElementById("txtValidityPeriodFrom").value = "";
        document.getElementById("txtValidityPeriodTo").value = "";
        $("#ddlMapCode").val("0");
        $("#ddlMapCode").multiselect("clearSelection");
        $("#FileUploadSKB").val('');

        //COD
        document.getElementById("txtCODNumber").value = "";
        document.getElementById("txtCODDate").value = "";
        document.getElementById("txtSupplierNameCOD").value = "";
        document.getElementById("txtSupplierNPWPCOD").value = "";
        document.getElementById("txtSupplierAddressCOD").value = "";
        document.getElementById("txtSupplierPhoneNoCOD").value = "";

        $("#ddlSupplierCountry").val("0");
        $("#ddlSupplierCountry").multiselect("clearSelection");
        document.getElementById("lookupIdddlSupplierCountry").value = "";
        document.getElementById("lookupNameddlSupplierCountry").value = "";

        document.getElementById("txtSupplierEstDate").value = "";
        document.getElementById("txtValidityPeriodCODFrom").value = "";
        document.getElementById("txtValidityPeriodCODTo").value = "";
        document.getElementById("txtCODSignerName").value = "";
        document.getElementById("txtCODSignerTitle").value = "";
        $("#FileUploadCOD").val('');

        // trigger bootstrap validator to resetForm on ClearForm
        //$('#CreateRegisterForm').bootstrapValidator('resetForm');
        document.getElementById("CreateRegisterForm").reset();
        setTimeout(function () { location.reload(true);; }, 3000);

        $('#btnSaveSKB').button('reset');
        $('#btnSaveRepSKB').button('reset');
        $('#btnSaveCOD').button('reset');
        $('#btnSaveRepCOD').button('reset');
        //$('#btnSubmit').button('reset');
    }

    function ClearFormRepeatSKB() {
        SKB = {};
        //SKB
        //document.getElementById("ddlSKBtype").value = "";
        $("#ComboSKBtype").val("");

        $("#ddlMapCode").val("");
        $("#ddlMapCode").multiselect("clearSelection");
        //$("#ddlSKBtype").multiselect("clearSelection");
        //document.getElementById("lookupIdddlSKBtype").value = "";
        //document.getElementById("lookupNameddlSKBtype").value = "";

        document.getElementById("txtSKBTypeOthers").value = "";
        document.getElementById("txtSKBTypeOthers").style.display = "none";
        document.getElementById("txtSKBNumber").value = "";
        document.getElementById("txtSKBDate").value = "";
        document.getElementById("txtValidityPeriodFrom").value = "";
        document.getElementById("txtValidityPeriodTo").value = "";
        $("#FileUploadSKB").val('');

        //COD
        //document.getElementById("txtCODNumber").value = "";
        //document.getElementById("txtCODDate").value = "";
        //document.getElementById("txtSupplierNameCOD").value = "";
        //document.getElementById("txtSupplierNPWPCOD").value = "";
        //document.getElementById("txtSupplierAddressCOD").value = "";
        //document.getElementById("txtSupplierPhoneNoCOD").value = "";

        //$("#ddlSupplierCountry").val("0");
        //$("#ddlSupplierCountry").multiselect("clearSelection");
        //document.getElementById("lookupIdddlSupplierCountry").value = "";
        //document.getElementById("lookupNameddlSupplierCountry").value = "";

        //document.getElementById("txtSupplierEstDate").value = "";
        //document.getElementById("txtValidityPeriodCODFrom").value = "";
        //document.getElementById("txtValidityPeriodCODTo").value = "";
        //document.getElementById("txtCODSignerName").value = "";
        //document.getElementById("txtCODSignerTitle").value = "";
        //$("#FileUploadCOD").val('');

        $('#CreateRegisterForm').bootstrapValidator('resetForm');

        $('#btnSaveSKB').button('reset');
        $('#btnSaveRepSKB').button('reset');
    }

    function ClearFormRepeatCOD() {
        COD = {};
        //SKB
        //$("#ComboSKBtype").val("");

        //document.getElementById("lookupIdddlSKBtype").value = "";
        //document.getElementById("lookupNameddlSKBtype").value = "";

        //document.getElementById("txtSKBTypeOthers").value = "";
        //document.getElementById("txtSKBTypeOthers").style.display = "none";
        //document.getElementById("txtSKBNumber").value = "";
        //document.getElementById("txtSKBDate").value = "";
        //document.getElementById("txtSupplierName").value = "";
        //document.getElementById("txtSupplierNPWP").value = "";
        //document.getElementById("txtSupplierAddress").value = "";
        //document.getElementById("txtSupplierPhoneNo").value = "";
        //document.getElementById("txtValidityPeriodFrom").value = "";
        //document.getElementById("txtValidityPeriodTo").value = "";
        //$("#FileUploadSKB").val('');

        //COD

       // document.getElementById("txtSupplierEstDate").value = "";
        document.getElementById("txtCODNumber").value = "";
        document.getElementById("txtCODDate").value = "";
        document.getElementById("txtValidityPeriodCODFrom").value = "";
        document.getElementById("txtValidityPeriodCODTo").value = "";
        document.getElementById("txtCODSignerName").value = "";
        document.getElementById("txtCODSignerTitle").value = "";
        //$("#ddlSupplierCountry").val("0");
        //$("#ddlSupplierCountry").multiselect("clearSelection");
        //document.getElementById("lookupIdddlSupplierCountry").value = "";
        //document.getElementById("lookupNameddlSupplierCountry").value = "";
        $("#FileUploadCOD").val('');

        $('#CreateRegisterForm').bootstrapValidator('resetForm');

        $('#btnSaveCOD').button('reset');
        $('#btnSaveRepCOD').button('reset');

    }
    function MapCodeValidation() {
       
        var _ddlMapCode = $("#ddlMapCode").val();
        if (_ddlMapCode == null || _ddlMapCode == '') {

            document.getElementById("lblMapCode").style.display = "block";
            //document.getElementById("btnSaveSKB").disabled = true;
            //document.getElementById("btnSaveRepSKB").disabled = true;
           
        }
        else {
            document.getElementById("lblMapCode").style.display = "none";
            //document.getElementById("btnSaveSKB").disabled = false;
            //document.getElementById("btnSaveRepSKB").disabled = false;
        }
    }

    function SupplierCountryValidation() {

        var _lblSupplierCountryAlert = $("#ddlSupplierCountry").val();
        if (_lblSupplierCountryAlert == null || _lblSupplierCountryAlert == '') {

            document.getElementById("lblSupplierCountryAlert").style.display = "block";
            //document.getElementById("btnSaveCOD").disabled = true;
            //document.getElementById("btnSaveRepCOD").disabled = true;
            return;
        }
        else {
            document.getElementById("lblSupplierCountryAlert").style.display = "none";
            //document.getElementById("btnSaveCOD").disabled = false;
            //document.getElementById("btnSaveRepCOD").disabled = false;
        }
    }
    $(document).ready(function () {
        //submit normal
        $("button").click(function (event) {
            btnId = event.target.id
            if (btnId == "btnSaveSKB" || btnId == "btnSaveRepSKB") {
                var _ddlMapCode = $("#ddlMapCode").val();
                if (_ddlMapCode == null || _ddlMapCode == '') {

                    document.getElementById("lblMapCode").style.display = "block";
                    //document.getElementById("btnSaveSKB").disabled = false;
                    //document.getElementById("btnSaveRepSKB").disabled = false;
                    return;
                }
                else {
                    document.getElementById("lblMapCode").style.display = "none";
                    //document.getElementById("btnSaveSKB").disabled = true;
                    //document.getElementById("btnSaveRepSKB").disabled = true;
                }
            }

            if (btnId == "btnSaveCOD" || btnId == "btnSaveRepCOD") {
                var _lblSupplierCountryAlert = $("#ddlSupplierCountry").val();
                if (_lblSupplierCountryAlert == null || _lblSupplierCountryAlert == '') {

                    document.getElementById("lblSupplierCountryAlert").style.display = "block";
                    //document.getElementById("btnSaveCOD").disabled = false;
                    //document.getElementById("btnSaveRepCOD").disabled = false;
                    return;
                }
                else {
                    document.getElementById("lblSupplierCountryAlert").style.display = "none";
                    //document.getElementById("btnSaveCOD").disabled = true;
                    //document.getElementById("btnSaveRepCOD").disabled = true;
                }
            }
          
        });

       
        $('#CreateRegisterForm')
            .bootstrapValidator({
                live: 'enabled',
                fields: {
                    ComboSKBtype: {
                        validators: {
                            notEmpty: { 
                                message: 'SKB Type is required and can\'t be empty',
                            },
                        }
                    },
                    SKBNumber: {
                        validators: {
                            notEmpty: {
                                message: 'SKB Number is required and can\'t be empty'
                            }
                        }
                    },
                    SKBDate: {
                        validators: {
                            notEmpty: {
                                message: 'SKB Date is required and can\'t be empty'
                            }
                        }
                    },
                    SupplierName: {
                        validators: {
                            notEmpty: {
                                message: 'Supplier Name is required and can\'t be empty'
                            }
                        }
                    },
                    SupplierNPWP: {
                        validators: {
                            notEmpty: {
                                message: 'Supplier NPWP is required and can\'t be empty'
                            }
                        }
                    },
                    SupplierAddress: {
                        validators: {
                            notEmpty: {
                                message: 'Supplier Address is required and can\'t be empty'
                            }
                        }
                    },
                    SupplierPhoneNo: {
                        validators: {
                            notEmpty: {
                                message: 'Supplier Phone No is required and can\'t be empty'
                            }
                        }
                    },
                    ValidityPeriodFrom: {
                        validators: {
                            notEmpty: {
                                message: 'Validity Period From is required and can\'t be empty'
                            }
                        }
                    },
                    ValidityPeriodTo: {
                        validators: {
                            notEmpty: {
                                message: 'Validity Period To is required and can\'t be empty'
                            }
                        }
                    }
                    ,
                   
                   
                    
                    FileUploadSKB: {
                        validators: {
                            notEmpty: {
                                message: 'Please upload file PDF'
                            },
                            file: {
                                extension: 'pdf',
                                type: 'text/plain,application/pdf, pdf'
                            }
                        }
                    }
                    ,
                    CODNumber: {
                        validators: {
                            notEmpty: {
                                message: 'COD Number is required and can\'t be empty'
                            }
                        }
                    },
                    CODDate: {
                        validators: {
                            notEmpty: {
                                message: 'COD Date is required and can\'t be empty'
                            }
                        }
                    },
                    SupplierNameCOD: {
                        validators: {
                            notEmpty: {
                                message: 'Supplier Name COD is required and can\'t be empty'
                            }
                        }
                    },
                    SupplierNPWPCOD: {
                        validators: {
                            notEmpty: {
                                message: 'Supplier NPWP COD is required and can\'t be empty'
                            }
                        }
                    },
                    SupplierAddressCOD: {
                        validators: {
                            notEmpty: {
                                message: 'Supplier Address COD is required and can\'t be empty'
                            }
                        }
                    },
                    SupplierPhoneNoCOD: {
                        validators: {
                            notEmpty: {
                                message: 'Supplier Phone No COD is required and can\'t be empty'
                            }
                        }
                    },
                    //SupplierCountry: {
                    //    validators: {
                    //        notEmpty: {
                    //            message: 'Supplier Country is required and can\'t be empty'
                    //        }
                    //    }
                    //},
                    SupplierEstDate: {
                        validators: {
                            notEmpty: {
                                message: 'Supplier Estabilisment Date is required and can\'t be empty'
                            }
                        }
                    },
                    ValidityPeriodCODFrom: {
                        validators: {
                            notEmpty: {
                                message: 'Validity Period COD From is required and can\'t be empty'
                            }
                        }
                    },
                    ValidityPeriodCODTo: {
                        validators: {
                            notEmpty: {
                                message: 'Validity Period COD To is required and can\'t be empty'
                            }
                        }
                    },
                    CODSignerName: {
                        validators: {
                            notEmpty: {
                                message: 'COD Signer Name To is required and can\'t be empty'
                            }
                        }
                    },
                    CODSignerTitle: {
                        validators: {
                            notEmpty: {
                                message: 'COD Signer Name To is required and can\'t be empty'
                            }
                        }
                    }
                    ,
                    FileUploadCOD: {
                        validators: {
                            notEmpty: {
                                message: 'Please upload file PDF'
                            },
                            file: {
                                extension: 'pdf',
                                type: 'text/plain,application/pdf, pdf'
                            }
                        }
                    }
                }
            })
           .on('success.form.bv', function (e, data) {
               // On success validate
               // Prevent form submission
               e.preventDefault();
              
               //alert(btnId);
               if (btnId == "btnSaveSKB") {
                  
                   onSubmitSKB();
               }
               else if (btnId == "btnSaveRepSKB") {
                   onSubmitSKBRepeat();
               }
               else if (btnId == "btnSaveCOD") {
                   onSubmitCOD();
               }
               else if (btnId == "btnSaveRepCOD") {
                   onSubmitCODRepeat();
               }
            })
        }).on('error.field.bv', function (e, data) {
            data.bv.disableSubmitButtons(true); // disable submit buttons on errors
        }).on('status.field.bv', function (e, data) {
            data.bv.disableSubmitButtons(false);
        });

    function onSubmitSKB() {
        if (window.FormData !== undefined) {
            var fileUpload = $("#FileUploadSKB").get(0);
            var files = fileUpload.files;

            // Create FormData object
            var fileData = new FormData();

            // Looping over all files and add it to FormData object
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }

            SKB = {
                SKBtype: $("#ComboSKBtype").val(),
                SKBTypeOther: $("#txtSKBTypeOthers").val(),
                TaxFacNo: $("#txtSKBNumber").val(),
                TaxFacDate: $("#txtSKBDate").val(),
                SupplierName: $("#txtSupplierName").val(),
                SupplierNPWP: $("#txtSupplierNPWP").val(),
                SupplierAddress: $("#txtSupplierAddress").val(),
                SupplierPhoneNo: $("#txtSupplierPhoneNo").val(),
                FacValidPeriodFrom: $("#txtValidityPeriodFrom").val(),
                FacValidPeriodTo: $("#txtValidityPeriodTo").val(),
                MapCode: $("#ddlMapCode").val(),
                UploadFile: files[0].name
            };

            fileData.append('data', JSON.stringify(SKB));

            $.ajax({
                type: "POST",
                url: "@Html.Toyota().Page.GetActionUrl("Insert")",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                beforeSend: function () {
                $('#btnSaveSKB').button('loading');
                if (DEBUG) {
                    console.log('Save Start');
                }
            },
            success: function (result) {
                if (result.ResultCode) {
                    msgOk(result.ResultDesc);
                    ClearForm();
                }
                else {
                    msgError(result.ResultDesc);
                }
                if (DEBUG) {
                    console.log(result.ResultDesc);
                }

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (DEBUG) {
                    console.log("error: " + errorThrown);
                }
                msgError("An error has occured");
            },
            complete: function () {

                $('#btnSaveSKB').button('reset');
                $('#btnSaveRepSKB').button('reset');
                $('#btnSaveCOD').button('reset');
                $('#btnSaveRepCOD').button('reset');
                if (DEBUG) {
                    console.log('Save Done');
                }
            }
        });
    }
    }

    function onSubmitCOD() {
        if (window.FormData !== undefined) {
            var fileUploadCOD = $("#FileUploadCOD").get(0);
            var filesCOD = fileUploadCOD.files;

            // Create FormData object
            var fileDataCOD = new FormData();

            // Looping over all files and add it to FormData object
            for (var i = 0; i < filesCOD.length; i++) {
                fileDataCOD.append(filesCOD[i].name, filesCOD[i]);
            }

            COD = {
                TaxFacNo: $("#txtCODNumber").val(),
                TaxFacDate: $("#txtCODDate").val(),
                SupplierName: $("#txtSupplierNameCOD").val(),
                SupplierNPWP: $("#txtSupplierNPWPCOD").val(),
                SupplierAddress: $("#txtSupplierAddressCOD").val(),
                SupplierPhoneNo: $("#txtSupplierPhoneNoCOD").val(),
                SupplierCountry: $("#ddlSupplierCountry").val(),
                SupplierEstDate: $("#txtSupplierEstDate").val(),
                FacValidPeriodFrom: $("#txtValidityPeriodCODFrom").val(),
                FacValidPeriodTo: $("#txtValidityPeriodCODTo").val(),
                FacDocSignerName: $("#txtCODSignerName").val(),
                FacDocSignerTitle: $("#txtCODSignerTitle").val(),
                MapCode: "-",
                UploadFile: filesCOD[0].name
            };

            fileDataCOD.append('data', JSON.stringify(COD));

            $.ajax({
                type: "POST",
                url: "@Html.Toyota().Page.GetActionUrl("InsertCOD")",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileDataCOD,
                beforeSend: function () {
                $('#btnSaveCOD').button('loading');
                if (DEBUG) {
                    console.log('Save Start');
                }
            },
            success: function (result) {
                if (result.ResultCode) {
                    msgOk(result.ResultDesc);
                    ClearForm();
                }
                else {
                    msgError(result.ResultDesc);
                }
                if (DEBUG) {
                    console.log(result.ResultDesc);
                }

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (DEBUG) {
                    console.log("error: " + errorThrown);
                }
                msgError("An error has occured");
            },
            complete: function () {

                $('#btnSaveSKB').button('reset');
                $('#btnSaveRepSKB').button('reset');
                $('#btnSaveCOD').button('reset');
                $('#btnSaveRepCOD').button('reset');
                if (DEBUG) {
                    console.log('Save Done');
                }
            }
        });
    }
    }

    function onSubmitSKBRepeat() {
        if (window.FormData !== undefined) {
            var fileUpload = $("#FileUploadSKB").get(0);
            var files = fileUpload.files;

            // Create FormData object
            var fileData = new FormData();

            // Looping over all files and add it to FormData object
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }

            SKB = {
                SKBtype: $("#ComboSKBtype").val(),
                SKBTypeOther: $("#txtSKBTypeOthers").val(),
                TaxFacNo: $("#txtSKBNumber").val(),
                TaxFacDate: $("#txtSKBDate").val(),
                SupplierName: $("#txtSupplierName").val(),
                SupplierNPWP: $("#txtSupplierNPWP").val(),
                SupplierAddress: $("#txtSupplierAddress").val(),
                SupplierPhoneNo: $("#txtSupplierPhoneNo").val(),
                FacValidPeriodFrom: $("#txtValidityPeriodFrom").val(),
                FacValidPeriodTo: $("#txtValidityPeriodTo").val(),
                MapCode: $("#ddlMapCode").val(),
                UploadFile: files[0].name
            };

            fileData.append('data', JSON.stringify(SKB));

            $.ajax({
                type: "POST",
                url: "@Html.Toyota().Page.GetActionUrl("Insert")",
                contentType: false, // Not to set any content header
            processData: false, // Not to process data
            data: fileData,
            beforeSend: function () {
                $('#btnSaveRepSKB').button('loading');
                if (DEBUG) {
                    console.log('Save Start');
                }
            },
            success: function (result) {
                if (result.ResultCode) {
                    msgOk(result.ResultDesc);
                    ClearFormRepeatSKB();
                }
                else {
                    msgError(result.ResultDesc);
                    $('#btnSaveSKB').button('reset');
                    $('#btnSaveRepSKB').button('reset');
                    $('#btnSaveCOD').button('reset');
                    $('#btnSaveRepCOD').button('reset');
                }
                if (DEBUG) {
                    console.log(result.ResultDesc);
                }

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (DEBUG) {
                    console.log("error: " + errorThrown);
                }
                msgError("An error has occured");
            },
            complete: function () {
                $('#btnSaveSKB').button('reset');
                $('#btnSaveRepSKB').button('reset');
                $('#btnSaveCOD').button('reset');
                $('#btnSaveRepCOD').button('reset');
                if (DEBUG) {
                    console.log('Save Done');
                }
            }
        });
    }
    }

    function onSubmitCODRepeat() {
        if (window.FormData !== undefined) {

            var fileUploadRepCOD = $("#FileUploadCOD").get(0);
            var filesRepCOD = fileUploadRepCOD.files;

            // Create FormData object
            var fileDataRepCOD = new FormData();

            // Looping over all files and add it to FormData object
            for (var i = 0; i < filesRepCOD.length; i++) {
                fileDataRepCOD.append(filesRepCOD[i].name, filesRepCOD[i]);
            }

            RepCOD = {
                TaxFacNo: $("#txtCODNumber").val(),
                TaxFacDate: $("#txtCODDate").val(),
                SupplierName: $("#txtSupplierNameCOD").val(),
                SupplierNPWP: $("#txtSupplierNPWPCOD").val(),
                SupplierAddress: $("#txtSupplierAddressCOD").val(),
                SupplierPhoneNo: $("#txtSupplierPhoneNoCOD").val(),
                SupplierCountry: $("#ddlSupplierCountry").val(),
                SupplierEstDate: $("#txtSupplierEstDate").val(),
                FacValidPeriodFrom: $("#txtValidityPeriodCODFrom").val(),
                FacValidPeriodTo: $("#txtValidityPeriodCODTo").val(),
                FacDocSignerName: $("#txtCODSignerName").val(),
                FacDocSignerTitle: $("#txtCODSignerTitle").val(),
                MapCode: "-",
                UploadFile: filesRepCOD[0].name
            };

            fileDataRepCOD.append('data', JSON.stringify(RepCOD));

            $.ajax({
                url: "@Html.Toyota().Page.GetActionUrl("InsertCOD")",
                type: "POST",
            contentType: false, // Not to set any content header
            processData: false, // Not to process data
            data: fileDataRepCOD,
            beforeSend: function () {
                console.log('before Start');
                $('#btnSaveRepCOD').button('loading');
                if (DEBUG) {
                    console.log('Save COD Start');
                }
            },
            success: function (result) {
                if (result.ResultCode) {
                    msgOk(result.ResultDesc);
                    ClearFormRepeatCOD();
                }
                else {
                    msgError(result.ResultDesc);
                }
                if (DEBUG) {
                    console.log(result.ResultDesc);
                }

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (DEBUG) {
                    console.log("error: " + errorThrown);
                }
                msgError("An error has occured");
            },
            complete: function () {
                $('#btnSaveSKB').button('reset');
                $('#btnSaveRepSKB').button('reset');
                $('#btnSaveCOD').button('reset');
                $('#btnSaveRepCOD').button('reset');
                if (DEBUG) {
                    console.log('Save Rep COD Done');
                }
            }
        });
    }
    }

    //custom revalidate for masking
    $('[name="SupplierNPWP"]')
        .on('keypress', function (e) {
            // Revalidate the when user press key
            $('#CreateRegisterForm').bootstrapValidator('revalidateField', 'SupplierNPWP');
        })
        .on('blur', function (e) {
            //detect and clear if there is any underscore char made by maskedinput
            if ($('[name="SupplierNPWP"]').val().indexOf('_') > -1) {
                $('[name="SupplierNPWP"]').val('');
            }
            // Revalidate the when user blur out from input text
            $('#CreateRegisterForm').bootstrapValidator('revalidateField', 'SupplierNPWP');
        });

    $('[name="FileUploadSKB"]')
        .on('keypress', function (e) {
            $('#CreateRegisterForm').bootstrapValidator('revalidateField', 'FileUploadSKB');
            // Revalidate the when user press key
            //var fileUpload1 = $("#FileUploadSKB").get(0);
            //var files1 = fileUpload1.files;
            //alert(files1.length);
            //if (files1.length > 0) {
            //    $('#CreateRegisterForm').bootstrapValidator('revalidateField', 'FileUploadSKB');
            //}
        })
        .on('blur', function (e) {
            //detect and clear if there is any underscore char made by maskedinput

            // Revalidate the when user blur out from input text
            $('#CreateRegisterForm').bootstrapValidator('revalidateField', 'FileUploadSKB');
        });


    $('[name="SKBDate"]')
        .on('blur', function (e) {
            // Revalidate the date when user blur out from input type text
            $('#CreateRegisterForm').bootstrapValidator('revalidateField', 'SKBDate');
        });

    $('[name="ValidityPeriodFrom"]')
        .on('blur', function (e) {
            // Revalidate the date when user blur out from input type text
            $('#CreateRegisterForm').bootstrapValidator('revalidateField', 'ValidityPeriodFrom');
        });

    $('[name="ValidityPeriodFrom"]')
        .on('blur', function (e) {
            // Revalidate the date when user blur out from input type text
            $('#CreateRegisterForm').bootstrapValidator('revalidateField', 'ValidityPeriodFrom');
        });

    $('[name="ValidityPeriodTo"]')
        .on('blur', function (e) {
            // Revalidate the date when user blur out from input type text
            $('#CreateRegisterForm').bootstrapValidator('revalidateField', 'ValidityPeriodTo');
        });

    $('[name="CODDate"]')
        .on('blur', function (e) {
            // Revalidate the date when user blur out from input type text
            $('#CreateRegisterForm').bootstrapValidator('revalidateField', 'CODDate');
        });

    $('[name="SupplierEstDate"]')
        .on('blur', function (e) {
            // Revalidate the date when user blur out from input type text
            $('#CreateRegisterForm').bootstrapValidator('revalidateField', 'SupplierEstDate');
        });

    $('[name="ValidityPeriodCODFrom"]')
        .on('blur', function (e) {
            // Revalidate the date when user blur out from input type text
            $('#CreateRegisterForm').bootstrapValidator('revalidateField', 'ValidityPeriodCODFrom');
        });

    $('[name="ValidityPeriodCODTo"]')
        .on('blur', function (e) {
            // Revalidate the date when user blur out from input type text
            $('#CreateRegisterForm').bootstrapValidator('revalidateField', 'ValidityPeriodCODTo');
        });

    $('[name="FileUploadCOD"]')
        .on('keypress', function (e) {
            $('#CreateRegisterForm').bootstrapValidator('revalidateField', 'FileUploadCOD');
        })
        .on('blur', function (e) {
            $('#CreateRegisterForm').bootstrapValidator('revalidateField', 'FileUploadCOD');
        });

    //$('[name="Map"]')
    //    .on('keypress', function (e) {
    //        $('#CreateRegisterForm').bootstrapValidator('revalidateField', 'Map');
    //    })
    //    .on('blur', function (e) {
    //        $('#CreateRegisterForm').bootstrapValidator('revalidateField', 'Map');
    //    });

    function MapCodeChange() {
        var vMapCode = document.getElementById("ddlMapCode");
        var vSvMapCodeText = vMapCode.options[vMapCode.selectedIndex].innerHTML;

        if (vSvMapCodeText != "") {
            document.getElementById('lblSupplierCountryAlert').style.display = 'none';
        }
    }
    @*$(document).ready(function () {

        $('#btnUpload').click(function () {

            // Checking whether FormData is available in browser
            if (window.FormData !== undefined) {

                var fileUpload = $("#FileUpload1").get(0);
                var files = fileUpload.files;

                // Create FormData object
                var fileData = new FormData();

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }

                SKB = {
                    SKBtype: $("#ddlSKBtype").val(),
                    TaxFacNo: $("#txtSKBNumber").val(),
                    TaxFacDate: $("#txtSKBDate").val(),
                    SupplierName: $("#txtSupplierName").val(),
                    SupplierNPWP: $("#txtSupplierNPWP").val(),
                    SupplierAddress: $("#txtSupplierAddress").val(),
                    SupplierPhoneNo: $("#txtSupplierPhoneNo").val(),
                    FacValidPeriodFrom: $("#txtValidityPeriodFrom").val(),
                    FacValidPeriodTo: $("#txtValidityPeriodTo").val(),
                    //UploadFile: $("#uploadEditorImage").get(0).files,
                };

                fileData.append('data', JSON.stringify(SKB));

                // Adding one more key to FormData object
                //fileData.append('SKBtype', $("#ddlSKBtype").val());
                //fileData.append('SKBTypeOthers', $("#txtSKBTypeOthers").val());
                //fileData.append('SKBNumber', $("#txtSKBNumber").val());
                //fileData.append('SKBDate', $("#txtSKBDate").val());
                //fileData.append('SupplierName', $("#txtSupplierName").val());
                //fileData.append('SupplierNPWP', $("#txtSupplierNPWP").val());
                //fileData.append('SupplierAddress', $("#txtSupplierAddress").val());
                //fileData.append('SupplierPhoneNo', $("#txtSupplierPhoneNo").val());
                //fileData.append('ValidityPeriodFrom', $("#txtValidityPeriodFrom").val());
                //fileData.append('ValidityPeriodTo', $("#txtValidityPeriodTo").val());

                $.ajax({
                    url: '/RegisterInput/UploadFiles2',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result) {
                        alert(result);
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });
            } else {
                alert("FormData is not supported.");
            }
        });

        $("#btnSaveSKB").click(function () {
            console.log('saveSKB');



            $('#CreateRegisterForm')
                .bootstrapValidator({
                    live: 'enabled',

                fields: {
                    ComboSKBtype: {
                        validators: {

                            notEmpty: {

                                message: 'The name is required',
                            },
                        }
                    },
                    SKBNumber: {
                        validators: {
                            notEmpty: {
                                message: 'SKB Number is required and can\'t be empty'
                            }
                        }
                    },
                    SKBDate: {
                        validators: {
                            notEmpty: {
                                message: 'The SKB Date is required and can\'t be empty'
                            }
                        }
                    },
                    SupplierName: {
                        validators: {
                            notEmpty: {
                                message: 'Supplier Name is required and can\'t be empty'
                            }
                        }
                    },
                    SupplierNPWP: {
                        validators: {
                            notEmpty: {
                                message: 'Supplier NPWP is required and can\'t be empty'
                            }
                        }
                    },
                    SupplierAddress: {
                        validators: {
                            notEmpty: {
                                message: 'Supplier Address is required and can\'t be empty'
                            }
                        }
                    },
                    SupplierPhoneNo: {
                        validators: {
                            notEmpty: {
                                message: 'Supplier Phone No is required and can\'t be empty'
                            }
                        }
                    },
                    ValidityPeriodFrom: {
                        validators: {
                            notEmpty: {
                                message: 'Validity Period From is required and can\'t be empty'
                            }
                        }
                    },
                    ValidityPeriodTo: {
                        validators: {
                            notEmpty: {
                                message: 'Validity Period To is required and can\'t be empty'
                            }
                        }
                    }
                    ,
                    FileUploadSKB: {
                        validators: {
                            notEmpty: {
                                message: 'You must select a valid pdf file to upload'
                            },
                            file: {
                                extension: 'pdf',
                                type: 'text/plain,application/pdf, pdf'
                            }
                        }
                    }
                }
            })
                .on('success.form.bv', function (e) {
                    // Prevent form submission
                    e.preventDefault();

                    // Checking whether FormData is available in browser
                    if (window.FormData !== undefined) {

                        var fileUpload = $("#FileUploadSKB").get(0);
                        var files = fileUpload.files;

                        // Create FormData object
                        var fileData = new FormData();

                        // Looping over all files and add it to FormData object
                        for (var i = 0; i < files.length; i++) {
                            fileData.append(files[i].name, files[i]);
                        }

                        SKB = {
                            SKBtype: $("#ComboSKBtype").val(),
                            SKBTypeOther: $("#txtSKBTypeOthers").val(),
                            TaxFacNo: $("#txtSKBNumber").val(),
                            TaxFacDate: $("#txtSKBDate").val(),
                            SupplierName: $("#txtSupplierName").val(),
                            SupplierNPWP: $("#txtSupplierNPWP").val(),
                            SupplierAddress: $("#txtSupplierAddress").val(),
                            SupplierPhoneNo: $("#txtSupplierPhoneNo").val(),
                            FacValidPeriodFrom: $("#txtValidityPeriodFrom").val(),
                            FacValidPeriodTo: $("#txtValidityPeriodTo").val(),
                            UploadFile: files[0].name
                        };

                        fileData.append('data', JSON.stringify(SKB));

                        $.ajax({
                            url: "@Html.Toyota().Page.GetActionUrl("Insert")",
                            type: "POST",
                            contentType: false, // Not to set any content header
                            processData: false, // Not to process data
                            data: fileData,
                            beforeSend: function () {
                                console.log('before Start');
                                $('#btnSaveSKB').button('loading');
                                if (DEBUG) {
                                    console.log('Save Start');
                                }
                            },
                            success: function (result) {
                                if (result.ResultCode) {
                                    msgOk(result.ResultDesc);
                                    ClearForm();
                                }
                                else {
                                    msgError(result.ResultDesc);
                                }
                                if (DEBUG) {
                                    console.log(result.ResultDesc);
                                }

                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                if (DEBUG) {
                                    console.log("error: " + errorThrown);
                                }
                                msgError("An error has occured");
                            },
                            complete: function () {
                                $('#btnSaveSKB').button('reset');
                                $('#btnSaveCOD').button('reset');
                                $('#btnSaveRepSKB').button('reset');
                                $('#btnSaveRepCOD').button('reset');
                                if (DEBUG) {
                                    console.log('Save SKB Done');
                                }
                            }
                        });
                    } else {
                        alert("FormData is not supported.");
                    }

                }).on('error.field.bv', function (e, data) {
                    data.bv.disableSubmitButtons(true); // disable submit buttons on errors
                }).on('status.field.bv', function (e, data) {
                    data.bv.disableSubmitButtons(false);
                });
        });

        //custom revalidate for masking
        $('[name="SupplierNPWP"]')
            .on('keypress', function (e) {
                // Revalidate the when user press key
                $('#CreateRegisterForm').bootstrapValidator('revalidateField', 'SupplierNPWP');
            })
            .on('blur', function (e) {
                //detect and clear if there is any underscore char made by maskedinput
                if ($('[name="SupplierNPWP"]').val().indexOf('_') > -1) {
                    $('[name="SupplierNPWP"]').val('');
                }
                // Revalidate the when user blur out from input text
                $('#CreateRegisterForm').bootstrapValidator('revalidateField', 'SupplierNPWP');
            });


        //var fileUpload1 = $("#FileUploadSKB").get(0);
        //var files1 = fileUpload1.files;

        //console.log('AS', files1);
        //if ($("#ddlSKBtype").val() == null) {
        //    document.getElementById('lblSKBTypeAlert').style.display = 'block';
        //}

        //if (files1.length == 0) {
        //    document.getElementById('lblFileUploadAlert').style.display = 'block';
        //}


        $('[name="FileUploadSKB"]')
            .on('keypress', function (e) {
                $('#CreateRegisterForm').bootstrapValidator('revalidateField', 'FileUploadSKB');
                // Revalidate the when user press key
                //var fileUpload1 = $("#FileUploadSKB").get(0);
                //var files1 = fileUpload1.files;
                //alert(files1.length);
                //if (files1.length > 0) {
                //    $('#CreateRegisterForm').bootstrapValidator('revalidateField', 'FileUploadSKB');
                //}
            })
            .on('blur', function (e) {
                //detect and clear if there is any underscore char made by maskedinput

                // Revalidate the when user blur out from input text
                $('#CreateRegisterForm').bootstrapValidator('revalidateField', 'FileUploadSKB');
            });


        $('[name="SKBDate"]')
        .on('blur', function (e) {
            // Revalidate the date when user blur out from input type text
            $('#CreateRegisterForm').bootstrapValidator('revalidateField', 'SKBDate');
        });

        $('[name="ValidityPeriodFrom"]')
        .on('blur', function (e) {
            // Revalidate the date when user blur out from input type text
            $('#CreateRegisterForm').bootstrapValidator('revalidateField', 'ValidityPeriodFrom');
            });

        $('[name="ValidityPeriodFrom"]')
            .on('blur', function (e) {
                // Revalidate the date when user blur out from input type text
                $('#CreateRegisterForm').bootstrapValidator('revalidateField', 'ValidityPeriodFrom');
            });

        $('[name="ValidityPeriodTo"]')
        .on('blur', function (e) {
            // Revalidate the date when user blur out from input type text
            $('#CreateRegisterForm').bootstrapValidator('revalidateField', 'ValidityPeriodTo');
        });

        $('[name="CODDate"]')
        .on('blur', function (e) {
            // Revalidate the date when user blur out from input type text
            $('#CreateRegisterForm').bootstrapValidator('revalidateField', 'CODDate');
        });

        $('[name="SupplierEstDate"]')
        .on('blur', function (e) {
            // Revalidate the date when user blur out from input type text
            $('#CreateRegisterForm').bootstrapValidator('revalidateField', 'SupplierEstDate');
        });

        $('[name="ValidityPeriodCODFrom"]')
        .on('blur', function (e) {
            // Revalidate the date when user blur out from input type text
            $('#CreateRegisterForm').bootstrapValidator('revalidateField', 'ValidityPeriodCODFrom');
        });

        $('[name="ValidityPeriodCODTo"]')
        .on('blur', function (e) {
        // Revalidate the date when user blur out from input type text
        $('#CreateRegisterForm').bootstrapValidator('revalidateField', 'ValidityPeriodCODTo');
        });

        $("#btnSaveCOD").click(function () {
            console.log('saveCOD');
            if ($("#ddlSupplierCountry").val() == null) {
                document.getElementById('lblSupplierCountryAlert').style.display = 'block';
            }
            $('#CreateRegisterForm').bootstrapValidator({
                live: 'enabled',
                fields: {
                    CODNumber: {
                        validators: {
                            notEmpty: {
                                message: 'COD Number is required and can\'t be empty'
                            }
                        }
                    },
                    CODDate: {
                        validators: {
                            notEmpty: {
                                message: 'COD Date is required and can\'t be empty'
                            }
                        }
                    },
                    SupplierNameCOD: {
                        validators: {
                            notEmpty: {
                                message: 'Supplier Name COD is required and can\'t be empty'
                            }
                        }
                    },
                    SupplierNPWPCOD: {
                        validators: {
                            notEmpty: {
                                message: 'Supplier NPWP COD is required and can\'t be empty'
                            }
                        }
                    },
                    SupplierAddressCOD: {
                        validators: {
                            notEmpty: {
                                message: 'Supplier Address COD is required and can\'t be empty'
                            }
                        }
                    },
                    SupplierPhoneNoCOD: {
                        validators: {
                            notEmpty: {
                                message: 'Supplier Phone No COD is required and can\'t be empty'
                            }
                        }
                    },
                    SupplierCountry: {
                        validators: {
                            notEmpty: {
                                message: 'Supplier Country is required and can\'t be empty'
                            }
                        }
                    },
                    SupplierEstDate: {
                        validators: {
                            notEmpty: {
                                message: 'Supplier Estabilisment Date is required and can\'t be empty'
                            }
                        }
                    },
                    ValidityPeriodCODFrom: {
                        validators: {
                            notEmpty: {
                                message: 'Validity Period COD From is required and can\'t be empty'
                            }
                        }
                    },
                    ValidityPeriodCODTo: {
                        validators: {
                            notEmpty: {
                                message: 'Validity Period COD To is required and can\'t be empty'
                            }
                        }
                    },
                    CODSignerName: {
                        validators: {
                            notEmpty: {
                                message: 'COD Signer Name To is required and can\'t be empty'
                            }
                        }
                    },
                    CODSignerTitle: {
                        validators: {
                            notEmpty: {
                                message: 'COD Signer Name To is required and can\'t be empty'
                            }
                        }
                    }
                }
            })
                .on('success.form.bv', function (e) {
                    // Prevent form submission
                    e.preventDefault();

                    // Checking whether FormData is available in browser
                    if (window.FormData !== undefined) {

                        var fileUploadCOD = $("#FileUploadCOD").get(0);
                        var filesCOD = fileUploadCOD.files;

                        // Create FormData object
                        var fileDataCOD = new FormData();

                        // Looping over all files and add it to FormData object
                        for (var i = 0; i < filesCOD.length; i++) {
                            fileDataCOD.append(filesCOD[i].name, filesCOD[i]);
                        }

                        COD = {
                            TaxFacNo: $("#txtCODNumber").val(),
                            TaxFacDate: $("#txtCODDate").val(),
                            SupplierName: $("#txtSupplierNameCOD").val(),
                            SupplierNPWP: $("#txtSupplierNPWPCOD").val(),
                            SupplierAddress: $("#txtSupplierAddressCOD").val(),
                            SupplierPhoneNo: $("#txtSupplierPhoneNoCOD").val(),
                            SupplierCountry: $("#ddlSupplierCountry").val(),
                            SupplierEstDate: $("#txtSupplierEstDate").val(),
                            FacValidPeriodFrom: $("#txtValidityPeriodCODFrom").val(),
                            FacValidPeriodTo: $("#txtValidityPeriodCODTo").val(),
                            FacDocSignerName: $("#txtCODSignerName").val(),
                            FacDocSignerTitle: $("#txtCODSignerTitle").val(),
                            UploadFile: filesCOD[0].name
                        };

                        fileDataCOD.append('data', JSON.stringify(COD));

                        $.ajax({
                            url: "@Html.Toyota().Page.GetActionUrl("InsertCOD")",
                            type: "POST",
                            contentType: false, // Not to set any content header
                            processData: false, // Not to process data
                            data: fileDataCOD,
                            beforeSend: function () {
                                console.log('before Start');
                                $('#btnSaveCOD').button('loading');
                                if (DEBUG) {
                                    console.log('Save Start');
                                }
                            },
                            success: function (result) {
                                if (result.ResultCode) {
                                    msgOk(result.ResultDesc);
                                    ClearForm();
                                }
                                else {
                                    msgError(result.ResultDesc);
                                }
                                if (DEBUG) {
                                    console.log(result.ResultDesc);
                                }

                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                if (DEBUG) {
                                    console.log("error: " + errorThrown);
                                }
                                msgError("An error has occured");
                            },
                            complete: function () {
                                $('#btnSaveSKB').button('reset');
                                $('#btnSaveCOD').button('reset');
                                $('#btnSaveRepSKB').button('reset');
                                $('#btnSaveRepCOD').button('reset');
                                if (DEBUG) {
                                    console.log('Save COD Done');
                                }
                            }
                        });
                    } else {
                        alert("FormData is not supported.");
                    }

                }).on('error.field.bv', function (e, data) {
                    data.bv.disableSubmitButtons(true); // disable submit buttons on errors
                }).on('status.field.bv', function (e, data) {
                    data.bv.disableSubmitButtons(false);
                });
        });

        $("#btnSaveRepSKB").click(function () {
            console.log('saveRepSKB');
            if ($("#ddlSKBtype").val() == null) {
                document.getElementById('lblSKBTypeAlert').style.display = 'block';
            }
            $('#CreateRegisterForm').bootstrapValidator({
                live: 'enabled',
                fields: {
                    SKBtype: {
                        validators: {
                            notEmpty: {
                                message: 'SKB Type is required and can\'t be empty'
                            }
                        }
                    },
                    SKBNumber: {
                        validators: {
                            notEmpty: {
                                message: 'SKBNumber is required and can\'t be empty'
                            }
                        }
                    },
                    SKBDate: {
                        validators: {
                            notEmpty: {
                                message: 'The SKB Date is required and can\'t be empty'
                            }
                        }
                    },
                    SupplierName: {
                        validators: {
                            notEmpty: {
                                message: 'Supplier Name is required and can\'t be empty'
                            }
                        }
                    },
                    SupplierNPWP: {
                        validators: {
                            notEmpty: {
                                message: 'Supplier NPWP is required and can\'t be empty'
                            }
                        }
                    },
                    SupplierAddress: {
                        validators: {
                            notEmpty: {
                                message: 'Supplier Address is required and can\'t be empty'
                            }
                        }
                    },
                    SupplierPhoneNo: {
                        validators: {
                            notEmpty: {
                                message: 'Supplier Phone No is required and can\'t be empty'
                            }
                        }
                    },
                    ValidityPeriodFrom: {
                        validators: {
                            notEmpty: {
                                message: 'Validity Period From is required and can\'t be empty'
                            }
                        }
                    },
                    ValidityPeriodTo: {
                        validators: {
                            notEmpty: {
                                message: 'Validity Period To is required and can\'t be empty'
                            }
                        }
                    }
                }
            })
                .on('success.form.bv', function (e) {
                    // Prevent form submission
                    e.preventDefault();

                    // Checking whether FormData is available in browser
                    if (window.FormData !== undefined) {

                        var fileUploadRep = $("#FileUploadSKB").get(0);
                        var filesRep = fileUploadRep.files;

                        // Create FormData object
                        var fileDataRep = new FormData();

                        // Looping over all files and add it to FormData object
                        for (var i = 0; i < filesRep.length; i++) {
                            fileDataRep.append(filesRep[i].name, filesRep[i]);
                        }

                        RepSKB = {
                            SKBtype: $("#ddlSKBtype").val(),
                            SKBTypeOther: $("#txtSKBTypeOthers").val(),
                            TaxFacNo: $("#txtSKBNumber").val(),
                            TaxFacDate: $("#txtSKBDate").val(),
                            SupplierName: $("#txtSupplierName").val(),
                            SupplierNPWP: $("#txtSupplierNPWP").val(),
                            SupplierAddress: $("#txtSupplierAddress").val(),
                            SupplierPhoneNo: $("#txtSupplierPhoneNo").val(),
                            FacValidPeriodFrom: $("#txtValidityPeriodFrom").val(),
                            FacValidPeriodTo: $("#txtValidityPeriodTo").val(),
                            UploadFile: filesRep[0].name
                        };

                        fileDataRep.append('data', JSON.stringify(RepSKB));

                        $.ajax({
                            url: "@Html.Toyota().Page.GetActionUrl("Insert")",
                            type: "POST",
                            contentType: false, // Not to set any content header
                            processData: false, // Not to process data
                            data: fileDataRep,
                            beforeSend: function () {
                                console.log('before Start');
                                $('#btnSaveRepSKB').button('loading');
                                if (DEBUG) {
                                    console.log('Save Start');
                                }
                            },
                            success: function (result) {
                                if (result.ResultCode) {
                                    msgOk(result.ResultDesc);
                                    ClearFormRepeatSKB();
                                }
                                else {
                                    msgError(result.ResultDesc);
                                }
                                if (DEBUG) {
                                    console.log(result.ResultDesc);
                                }

                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                if (DEBUG) {
                                    console.log("error: " + errorThrown);
                                }
                                msgError("An error has occured");
                            },
                            complete: function () {
                                $('#btnSaveSKB').button('reset');
                                $('#btnSaveCOD').button('reset');
                                $('#btnSaveRepSKB').button('reset');
                                $('#btnSaveRepCOD').button('reset');
                                if (DEBUG) {
                                    console.log('Save Repeat SKB Done');
                                }
                            }
                        });
                    } else {
                        alert("FormData is not supported.");
                    }
                }).on('error.field.bv', function (e, data) {
                    data.bv.disableSubmitButtons(true); // disable submit buttons on errors
                }).on('status.field.bv', function (e, data) {
                    data.bv.disableSubmitButtons(false);
                });
        });

        $("#btnSaveRepCOD").click(function () {
            console.log('saveRepCOD');
            if ($("#ddlSupplierCountry").val() == null) {
                document.getElementById('lblSupplierCountryAlert').style.display = 'block';
            }
            $('#CreateRegisterForm').bootstrapValidator({
                live: 'enabled',
                fields: {
                    CODNumber: {
                        validators: {
                            notEmpty: {
                                message: 'COD Number is required and can\'t be empty'
                            }
                        }
                    },
                    CODDate: {
                        validators: {
                            notEmpty: {
                                message: 'COD Date is required and can\'t be empty'
                            }
                        }
                    },
                    SupplierNameCOD: {
                        validators: {
                            notEmpty: {
                                message: 'Supplier Name COD is required and can\'t be empty'
                            }
                        }
                    },
                    SupplierNPWPCOD: {
                        validators: {
                            notEmpty: {
                                message: 'Supplier NPWP COD is required and can\'t be empty'
                            }
                        }
                    },
                    SupplierAddressCOD: {
                        validators: {
                            notEmpty: {
                                message: 'Supplier Address COD is required and can\'t be empty'
                            }
                        }
                    },
                    SupplierPhoneNoCOD: {
                        validators: {
                            notEmpty: {
                                message: 'Supplier Phone No COD is required and can\'t be empty'
                            }
                        }
                    },
                    SupplierCountry: {
                        validators: {
                            notEmpty: {
                                message: 'Supplier Country is required and can\'t be empty'
                            }
                        }
                    },
                    SupplierEstDate: {
                        validators: {
                            notEmpty: {
                                message: 'Supplier Estabilisment Date is required and can\'t be empty'
                            }
                        }
                    },
                    ValidityPeriodCODFrom: {
                        validators: {
                            notEmpty: {
                                message: 'Validity Period COD From is required and can\'t be empty'
                            }
                        }
                    },
                    ValidityPeriodCODTo: {
                        validators: {
                            notEmpty: {
                                message: 'Validity Period COD To is required and can\'t be empty'
                            }
                        }
                    },
                    CODSignerName: {
                        validators: {
                            notEmpty: {
                                message: 'COD Signer Name To is required and can\'t be empty'
                            }
                        }
                    },
                    CODSignerTitle: {
                        validators: {
                            notEmpty: {
                                message: 'COD Signer Name To is required and can\'t be empty'
                            }
                        }
                    }
                }
            })
                .on('success.form.bv', function (e) {
                    // Prevent form submission
                    e.preventDefault();

                    // Checking whether FormData is available in browser
                    if (window.FormData !== undefined) {

                        var fileUploadRepCOD = $("#FileUploadCOD").get(0);
                        var filesRepCOD = fileUploadRepCOD.files;

                        // Create FormData object
                        var fileDataRepCOD = new FormData();

                        // Looping over all files and add it to FormData object
                        for (var i = 0; i < filesRepCOD.length; i++) {
                            fileDataRepCOD.append(filesRepCOD[i].name, filesRepCOD[i]);
                        }

                        RepCOD = {
                            TaxFacNo: $("#txtCODNumber").val(),
                            TaxFacDate: $("#txtCODDate").val(),
                            SupplierName: $("#txtSupplierNameCOD").val(),
                            SupplierNPWP: $("#txtSupplierNPWPCOD").val(),
                            SupplierAddress: $("#txtSupplierAddressCOD").val(),
                            SupplierPhoneNo: $("#txtSupplierPhoneNoCOD").val(),
                            SupplierCountry: $("#ddlSupplierCountry").val(),
                            SupplierEstDate: $("#txtSupplierEstDate").val(),
                            FacValidPeriodFrom: $("#txtValidityPeriodCODFrom").val(),
                            FacValidPeriodTo: $("#txtValidityPeriodCODTo").val(),
                            FacDocSignerName: $("#txtCODSignerName").val(),
                            FacDocSignerTitle: $("#txtCODSignerTitle").val(),
                            UploadFile: filesRepCOD[0].name
                        };

                        fileDataRepCOD.append('data', JSON.stringify(RepCOD));

                        $.ajax({
                            url: "@Html.Toyota().Page.GetActionUrl("InsertCOD")",
                            type: "POST",
                            contentType: false, // Not to set any content header
                            processData: false, // Not to process data
                            data: fileDataRepCOD,
                            beforeSend: function () {
                                console.log('before Start');
                                $('#btnSaveRepCOD').button('loading');
                                if (DEBUG) {
                                    console.log('Save COD Start');
                                }
                            },
                            success: function (result) {
                                if (result.ResultCode) {
                                    msgOk(result.ResultDesc);
                                    ClearFormRepeatCOD();
                                }
                                else {
                                    msgError(result.ResultDesc);
                                }
                                if (DEBUG) {
                                    console.log(result.ResultDesc);
                                }

                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                if (DEBUG) {
                                    console.log("error: " + errorThrown);
                                }
                                msgError("An error has occured");
                            },
                            complete: function () {
                                $('#btnSaveSKB').button('reset');
                                $('#btnSaveCOD').button('reset');
                                $('#btnSaveRepSKB').button('reset');
                                $('#btnSaveRepCOD').button('reset');
                                if (DEBUG) {
                                    console.log('Save Rep COD Done');
                                }
                            }
                        });
                    } else {
                        alert("FormData is not supported.");
                    }

                }).on('error.field.bv', function (e, data) {
                    data.bv.disableSubmitButtons(true); // disable submit buttons on errors
                }).on('status.field.bv', function (e, data) {
                    data.bv.disableSubmitButtons(false);
                });
        });
    });*@
</script>