﻿@{
    ViewBag.Title = "Register Input";
}

<style>
    
    .nav-tabs > li {
        background-color: #f2f2f2 !important;
        border-radius: 5px;
        color: #000000;
        border: 1px solid #fff;
         /*f2f2f2*/
    }   

    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:focus,
    .nav-tabs > li.active > a:hover {
        background-color: #D3D3D3 !important;
        color: #fff;
        color: #777;
        border: 2px solid #D3D3D3;
    }
</style>

    <form role="form" class="form-horizontal" id="CreateRegisterForm" 
          data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
        <div class="row">
            <div class="container-fluid   container-fixed-lg">
                <div id="rootwizard" class="m-t-50">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-tabs-linetriangle nav-tabs-separator nav-stack-sm" role="tablist" data-init-reponsive-tabs="dropdownfx">
                        <li class="nav-item active" id="SKB">
                            <a class="" data-toggle="tab" href="#skb" data-target="#skb" role="tab"><span>REGISTER SKB (Surat Keterangan Bebas)</span></a>
                        </li>
                        <li class="nav-item" id="COD">
                            <a class="" data-toggle="tab" href="#cod" data-target="#cod" role="tab"><span>REGISTER COD (Certificate of Domicile)</span></a>
                        </li>
                    </ul>
                    <!-- Tab panes -->

                    <div class="tab-content">
                        <div class="tab-pane slide-left padding-20 sm-no-padding active" id="skb">
                            <div class="row row-same-height">
                                <div class="col-md-12">
                                    <div class="padding-30 sm-padding-5">
                                        <br />
                                        <div class="form-group form-group-xs row">
                                            <label for="ddlSKBtype" class="col-xs-12 col-sm-2 col-md-2 control-label text-muted required">SKB Type</label>
                                            <div class="col-xs-12 col-sm-5 col-md-4">
                                                @*<select class="form-control col-md-9" id="ddlSKBtype" name="SKBtype" onchange="skbtypech()" required></select>*@
                                                @Html.DropDownList("ComboSKBtype", ViewData["ComboSKBType"] as SelectList, "Please select", new { @class = "form-control", onchange = "skbtypech()", @required = "required" })
                                                <label id="lblSKBTypeAlert" style="color:darkred; font-size:x-small" hidden>SKB Type is required and can't be empty</label>
                                            </div>
                                            <div class="col-xs-12 col-sm-5 col-md-4">
                                                <input id="txtSKBTypeOthers" name="SKBTypeOthers" type="text" class="form-control" style="display:none" maxlength="100"/>
                                            </div>
                                        </div>

                                        <div class="form-group form-group-xs row">
                                            <label for="SKBNumber" class="col-xs-12 col-sm-2 col-md-2 control-label text-muted required">SKB Number</label>
                                            <div class="col-xs-12 col-sm-7 col-md-8">
                                                <input id="txtSKBNumber" name="SKBNumber" type="text" class="form-control" maxlength="100" />
                                            </div>
                                        </div>
                                        <div class="form-group form-group-xs row">
                                            <label class="col-xs-12 col-sm-2 col-md-2 control-label text-muted required">SKB Date</label>
                                            <div class="col-xs-12 col-sm-3 col-md-4">
                                                <div class='input-group input-group-xs _datepicker-default'>
                                                    <input id="txtSKBDate" type="text" class="form-control" name="SKBDate" placeholder="dd-MM-yyyy" @*onblur="changeDate()"*@ />
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group form-group-xs row">
                                            <label class="col-xs-12 col-sm-2 col-md-2 control-label text-muted required">Supplier Name</label>
                                            <div class="col-xs-12 col-sm-7 col-md-8">
                                                <input id="txtSupplierName" name="SupplierName" type="text" class="form-control" maxlength="100" />
                                            </div>
                                        </div>
                                        <div class="form-group form-group-xs row">
                                            <label class="col-xs-12 col-sm-2 col-md-2 control-label text-muted required">Supplier NPWP</label>
                                            <div class="col-xs-12 col-sm-3 col-md-4">
                                                <input id="txtSupplierNPWP" name="SupplierNPWP" type="text" class="form-control _mask-npwp" />
                                            </div>
                                        </div>
                                        <div class="form-group form-group-xs row">
                                            <label class="col-xs-12 col-sm-2 col-md-2 control-label text-muted required">Supplier Address</label>
                                            <div class="col-xs-12 col-sm-10 col-md-8">
                                                <input id="txtSupplierAddress" name="SupplierAddress" rows="3" type="text" class="form-control" maxlength="200" />
                                            </div>
                                        </div>
                                        <div class="form-group form-group-xs row">
                                            <label class="col-xs-12 col-sm-2 col-md-2 control-label text-muted required">Supplier Phone No.</label>
                                            <div class="col-xs-12 col-sm-7 col-md-8">
                                                <input id="txtSupplierPhoneNo" name="SupplierPhoneNo" type="text" class="form-control" maxlength="100" onkeyup="validatePhoneNoSKB()" @*oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1'); alert('sadsdf')"*@ />
                                                @*<label id="lblphoneno" style="color:darkred; font-size:x-small" hidden>Only numeric</label>*@
                                                <small id="lblphoneno" class="help-block" data-bv-validator="notEmpty" data-bv-for="SupplierName" data-bv-result="INVALID" style="display:none; color:darkred">Numeric value only allowed</small>
                                            </div>
                                        </div>
                                        <div class="form-group form-group-xs row">
                                            <label class="col-xs-12 col-sm-2 col-md-2 control-label text-muted required">SKB Validity Period</label>
                                            <div class="col-xs-12 col-sm-10 col-md-4">
                                                <div class='input-group input-group-xs _datepicker'>
                                                    <input id="txtValidityPeriodFrom" name="ValidityPeriodFrom" type="text" class="form-control" placeholder="From" @*readonly*@ @*value="@DateTime.Now.Day"*@ />
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-5 col-md-4">
                                                <div class='input-group input-group-xs _datepicker'>
                                                    <input id="txtValidityPeriodTo" name="ValidityPeriodTo" type="text" class="form-control" placeholder="To" @*value="@DateTime.Now.Day"*@ />
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group form-group-xs row">
                                            <label for="ddlMapCode" class="col-xs-12 col-sm-2 col-md-2 control-label text-muted required">MAP Code</label>
                                            <div class="col-xs-12 col-sm-10 col-md-4">
                                                <select class="form-control col-md-9" id="ddlMapCode" name="Map" required  onchange="MapCodeValidation();"></select>
                                                <small id="lblMapCode" class="help-block" data-bv-validator="notEmpty" data-bv-result="INVALID" style="display:none; color:darkred">MAP Code is required and can't be empty</small>
                                                @*<label id="lblSupplierCountryAlert"  style="color:darkred; font-size:x-small" hidden>Supplier Country is required and can't be empty</label>*@
                                                @*<small id="lblMapCodeAlert" class="help-block" style="color:darkred; display:none">Supplier Country is required and can't be empty</small>*@
                                            </div>
                                        </div>


                                        <div class="form-group form-group-xs row">
                                            <label class="col-xs-12 col-sm-2 col-md-2 control-label text-muted required">Upload File</label>
                                            <div class="col-xs-FileUploadSKB col-sm-10 col-md-10">
                                                <input name="FileUploadSKB" id="FileUploadSKB" data-va type="file" class="filestyle" data-text="Select New Resume" data-dragdrop="true" onchange="validate_fileupload(this.value);" data-btnClass="btn-primary" data-buttonBefore="true" required>
                                                @*<input type="file" id="FileUploadSKB" name="FileUploadSKB" required />*@
                                                <label style="font-size:x-small">Format File.PDF</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-7 col-md-10 text-right">
                                    <div class="btn-group-md">
                                        @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("WHT", "UploadWHTFile"))
                                        {
                                            <button id="btnSaveSKB" type="submit" class="btn btn-success" data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading...">Save</button>
                                            <button id="btnSaveRepSKB" type="submit" class="btn btn-success" data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading...">Save and Repeat</button>
                                        }
                                        <button id="btnClearSKB" type="button" class="btn btn-danger">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*-------------------------------------COD-----------------------------------------------*@
                        <div class="tab-pane slide-left padding-20 sm-no-padding" id="cod">
                            <div class="row row-same-height">
                                <div class="col-md-12">
                                    <div class="padding-30 sm-padding-5">
                                        <br />
                                        <div class="form-group form-group-xs row">
                                            <label for="SKBNumber" class="col-xs-12 col-sm-2 col-md-2 control-label text-muted required">COD Number</label>
                                            <div class="colcol-xs-12 col-sm-10 col-md-4">
                                                <input id="txtCODNumber" name="CODNumber" type="text" class="form-control" maxlength="100" />
                                            </div>
                                        </div>
                                        <div class="form-group form-group-xs row">
                                            <label class="col-xs-12 col-sm-2 col-md-2 control-label text-muted required">COD Date</label>
                                            <div class="col-xs-12 col-sm-10 col-md-4">
                                                <div class='input-group input-group-xs _datepicker'>
                                                    <input id="txtCODDate" type="text" class="form-control" name="CODDate" placeholder="dd-MM-yyyy" />
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group form-group-xs row">
                                            <label class="col-xs-12 col-sm-2 col-md-2 control-label text-muted required">Supplier Name</label>
                                            <div class="col-xs-12 col-sm-10 col-md-8">
                                                <input id="txtSupplierNameCOD" name="SupplierNameCOD" type="text" class="form-control" maxlength="100" />
                                            </div>
                                        </div>
                                        <div class="form-group form-group-xs row">
                                            <label class="col-xs-12 col-sm-2 col-md-2 control-label text-muted required">Supplier TIN/NPWP</label>
                                            <div class="col-xs-12 col-sm-10 col-md-4">
                                                <input id="txtSupplierNPWPCOD" name="SupplierNPWPCOD" type="text" class="form-control" maxlength="50"/>
                                            </div>
                                        </div>
                                        <div class="form-group form-group-xs row">
                                            <label class="col-xs-12 col-sm-2 col-md-2 control-label text-muted required">Supplier Address</label>
                                            <div class="col-xs-12 col-sm-10 col-md-8">
                                                <input id="txtSupplierAddressCOD" name="SupplierAddressCOD" type="text" class="form-control" maxlength="200" />
                                            </div>
                                        </div>
                                        <div class="form-group form-group-xs row">
                                            <label class="col-xs-12 col-sm-2 col-md-2 control-label text-muted required">Supplier Phone No.</label>
                                            <div class="col-xs-12 col-sm-10 col-md-8">
                                                <input id="txtSupplierPhoneNoCOD" name="SupplierPhoneNoCOD" type="text" class="form-control" maxlength="100" onkeyup="validatePhoneNoCOD()" />
                                                <small id="lblphonenoCOD" class="help-block" data-bv-validator="notEmpty" data-bv-for="SupplierName" data-bv-result="INVALID" style="display:none; color:darkred">Numeric value only allowed</small>
                                            </div>
                                        </div>
                                        <div class="form-group form-group-xs row">
                                            <label for="ddlSupplierCountry" class="col-xs-12 col-sm-2 col-md-2 control-label text-muted required">Supplier Country</label>
                                            <div class="col-xs-12 col-sm-10 col-md-4">
                                                <select class="form-control col-md-9" id="ddlSupplierCountry" name="SupplierCountry" required onchange="SupplierCountryValidation();"></select>
                                                @*<label id="lblSupplierCountryAlert"  style="color:darkred; font-size:x-small" hidden>Supplier Country is required and can't be empty</label>*@
                                                <small id="lblSupplierCountryAlert" class="help-block" style="color:darkred; display:none">Supplier Country is required and can't be empty</small>
                                            </div>
                                        </div>
                                        <div class="form-group form-group-xs row">
                                            <label class="col-xs-12 col-sm-2 col-md-2 control-label text-muted required">Supplier Establishment Date</label>
                                            <div class="col-xs-12 col-sm-10 col-md-4">
                                                <div class='input-group input-group-xs _datepicker'>
                                                    <input id="txtSupplierEstDate" type="text" class="form-control" name="SupplierEstDate" placeholder="dd-MM-yyyy" />
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group form-group-xs row">
                                            <label class="col-xs-12 col-sm-2 col-md-2 control-label text-muted required">COD Validity Period</label>
                                            <div class="col-xs-12 col-sm-10 col-md-4">
                                                <div class='input-group input-group-xs _datepicker'>
                                                    <input id="txtValidityPeriodCODFrom" name="ValidityPeriodCODFrom" type="text" class="form-control" placeholder="From" @*value="@DateTime.Now.Day"*@ />
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-5 col-md-4">
                                                <div class='input-group input-group-xs _datepicker'>
                                                    <input id="txtValidityPeriodCODTo" name="ValidityPeriodCODTo" type="text" class="form-control" placeholder="To" @*value="@DateTime.Now.Day"*@ />
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group form-group-xs row">
                                            <label class="col-xs-12 col-sm-2 col-md-2 control-label text-muted required">COD Signer Name</label>
                                            <div class="col-xs-12 col-sm-10 col-md-8">
                                                <input id="txtCODSignerName" name="CODSignerName" type="text" class="form-control" maxlength="100" />
                                            </div>
                                        </div>
                                        <div class="form-group form-group-xs row">
                                            <label class="col-xs-12 col-sm-2 col-md-2 control-label text-muted required">COD Signer Title</label>
                                            <div class="col-xs-12 col-sm-10 col-md-8">
                                                <input id="txtCODSignerTitle" name="CODSignerTitle" type="text" class="form-control" maxlength="100" />
                                            </div>
                                        </div>
                                        <div class="form-group form-group-xs row">
                                            <label class="col-xs-12 col-sm-2 col-md-2 control-label text-muted required">Upload File</label>
                                            <div class="col-md-8">
                                                @*<input type="file" id="FileUploadCOD" onchange="validate_fileupload(this.value);" required />*@
                                                <input name="FileUploadCOD" id="FileUploadCOD" type="file" class="filestyle" data-text="Select New Resume" data-dragdrop="true" onchange="validate_fileupload(this.value);" data-btnClass="btn-primary" data-buttonBefore="true" required>
                                                <label style="font-size:x-small">Format File.PDF</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-7 col-md-10 text-right">
                                    <div class="btn-group-md">
                                        @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("WHT", "UploadWHTFile"))
                                        {
                                            <button id="btnSaveCOD" type="submit" class="btn btn-success" data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading...">Save</button>
                                            <button id="btnSaveRepCOD" type="submit" class="btn btn-success" data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading...">Save and Repeat</button>
                                        }
                                        <button id="btnClearCOD" type="button" class="btn btn-danger">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    @Html.Partial("_Javascript")