﻿<script type="text/javascript">
    var searchParam = {};
    getDropdownData("@Html.Toyota().Page.BaseUrl" + "/Master_GeneralParam/GetGeneralParamDropdown?ParamType=ApprovalStatus", "ddlApprovalStatus");
    getDropdownData("@Html.Toyota().Page.BaseUrl" + "/Master_GeneralParam/GetGeneralParamDropdown?ParamType=StatusRekam", "ddlRecordStatus");
    getDropdownData("@Html.Toyota().Page.BaseUrl" + "/Master_GeneralParam/GetGeneralParamDropdown?ParamType=DownloadStatus", "ddlDownloadStatus");
    getDropdownData("@Html.Toyota().Page.BaseUrl" + "/Master_GeneralParam/GetGeneralParamDropdown?ParamType=FakturPajakType", "ddlTaxInvoiceType");
    getDropdownData("@Html.Toyota().Page.BaseUrl" + "/Master_GeneralParam/GetGeneralParamDropdown?ParamType=TransitoryStatus", "ddlTransitoryStatus");
    getDropdownData("@Html.Toyota().Page.BaseUrl" + "/Master_GeneralParam/GetGeneralParamDropdown?ParamType=StatusInvoice", "ddlInvoiceStatus");
    getDropdownData("@Html.Toyota().Page.BaseUrl" + "/Master_GeneralParam/GetGeneralParamDropdown?ParamType=Remark", "ddlRemark");
    getDropdownData("@Html.Toyota().Page.BaseUrl" + "/Master_GeneralParam/GetPvCreateByDropdown", "ddlPvCreateBy");
    getDropdownData("@Html.Toyota().Page.BaseUrl" + "/Master_GeneralParam/GetUserListDropdown", "ddlRecordedBy");

    @*@if(ViewBag.IsFullAccess)
    {
        <text>
    getDropdownData("@Html.Toyota().Page.BaseUrl" + "/Master_GeneralParam/GetUserListDropdown", "ddlRecordedBy");
    </text>
    }
    else
    {
        <text>
    $('#ddlRecordedBy').multiselect({
        buttonWidth: '100%'
    });
    getDropdownData("@Html.Toyota().Page.BaseUrl" + "/Master_GeneralParam/GetUserListDropdown", "ddlRecordedBy");
    //$('#ddlRecordedBy').multiselect('disable');
        </text>
    }*@

    function sync() {
            $.ajax({
                type: "POST",
                url: "@Html.Toyota().Page.GetActionUrl("SyncVATIn")",
                beforeSend: function () {
                    $('#btnAction').button('loading');
                    if (DEBUG) {
                        console.log('Sync Start');
                    }
                },
            complete: function () {
                $('#btnAction').button('reset');
                if (DEBUG) {
                    console.log('Sync Done');
                }
            },
            success: function (result) {
                if (result.ResultCode) {
                    if (DEBUG) {
                        console.log('Sync Success');
                    }
                    msgOk(result.ResultDesc);
                }
                else {
                    msgError(result.ResultDesc);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (DEBUG) {
                    console.log('Sync Error');
                    console.log("error: " + errorThrown);
                }
            }
        });
    }

    //bind event to buttons
    $("#btnSearch").click(function () {
        searchParam = {
            TanggalFakturFrom: $("#txtTaxInvoiceDateFrom").val(),
            TanggalFakturTo: $("#txtTaxInvoiceDateTo").val(),
            TanggalFileDiterimaFrom: $("#txtReceiveFileDateFrom").val(),
            TanggalFileDiterimaTo: $("#txtReceiveFileDateTo").val(),
            WaktuFileDiterimaFrom: $("#txtReceiveFileTimeFrom").val(),
            WaktuFileDiterimaTo: $("#txtReceiveFileTimeTo").val(),
            TransitoryDateFrom: $("#txtTransitoryDateFrom").val(),
            TransitoryDateTo: $("#txtTransitoryDateTo").val(),
            TanggalDownloadFrom: $("#txtDownloadDateFrom").val(),
            TanggalDownloadTo: $("#txtDownloadDateTo").val(),
            RecordTimeFrom: $("#txtRecordDateFrom").val(),
            RecordTimeTo: $("#txtRecordDateTo").val(),
            ApprovalTimeFrom: $("#txtApprovalDateFrom").val(),
            ApprovalTimeTo: $("#txtApprovalDateTo").val(),
            NomorFakturPajak: $("#lookupTaxInvoiceNumber").val(),
            NPWPPenjual: $("#lookupSupplierNPWP").val(),
            NamaPenjual: $("#lookupSupplierName").val(),
            Perekam: $("#lookupNameddlRecordedBy").val(),
            FakturType: $("#lookupNameddlTaxInvoiceType").val(),
            RecordStatus: $("#lookupNameddlRecordStatus").val(),
            TransitoryStatus: $("#lookupNameddlTransitoryStatus").val(),
            DownloadStatus: $("#lookupNameddlDownloadStatus").val(),
            ApprovalStatus: $("#lookupNameddlApprovalStatus").val(),
            VATBaseAmount: $("#txtVATBaseAmount").val(),
            VATBaseAmountOperator: $("#ddlVATBaseAmountOperator").val(),
            VATAmount: $("#txtVATAmount").val(),
            VATAmountOperator: $("#ddlVATAmountOperator").val(),
            BatchFileName: $("#lookupBatchFileName").val(),
            PVNumber: $("#lookupPVNumber").val(),
            TransitoryNumber: $("#lookupTransitoryNumber").val(),
            ApprovalDescription: $("#lookupApprovalDescription").val(),
            PostingDateFrom: $("#txtPostingDateFrom").val(),
            PostingDateTo: $("#txtPostingDateTo").val(),
            RelatedGLAccount: $("#lookupRelatedGLAccount").val(),
            PVCreatedBy: $("#lookupNameddlPvCreateBy").val(),
            InvoiceNumber: $("#lookupInvoiceNumber").val(),
            InvoiceStatus: $("#lookupNameddlInvoiceStatus").val(),
            SAPDocNumber: $("#lookupSAPDocNumber").val(),
            Remark: $("#lookupNameddlRemark").val(),
            TAXPeriodMonth: $('#ddlMasa').val(),
            TAXPeriodYear: $('#ddlTahun').val(),
            VATPPnBM: $('#txtPPnBM').val(),
            VATPPnBMOperator: $('#ddlPPnBM').val(),
            VATDpp: $('#txtVATDpp').val(),
            VATDppOperator: $('#ddlVATDppOperator').val()
        };
        onGet(1);
    });

    $("#ddlPageSize").change(function () {
        onGet(1);
    });

    var sort = {
        sortBy: 0,
        sortDirection: true
    };

    function sortItem(field) {
        if (sort.sortBy == field) {
            sort.sortDirection = !sort.sortDirection;
        }
        else {
            sort.sortBy = field;
            sort.sortDirection = true;
        }
        onGet(1);
    }

    //Ajax POST/GET Method
    function onGet(page) {
        clearCheckedItems();
        $.ajax({
            type: "POST",
            url: "@Html.Toyota().Page.GetActionUrl("GetVATInList")",
            data: {
                data: JSON.stringify(searchParam),
                sortBy: sort.sortBy,
                sortDirection: sort.sortDirection,
                page: page,
                size: $("#ddlPageSize").val()
            },
            beforeSend: function () {
                $('#btnSearch').button('loading');
                if (DEBUG) {
                    console.log('Search Start');
                }
            },
            success: function (result) {
                $("#gridVATIn").html(result);
                freezeTable.init();
                if (DEBUG) {
                    console.log('Search Result Rendered');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (DEBUG) {
                    console.log("error: " + errorThrown);
                }
            },
            complete: function () {
                $('#btnSearch').button('reset');
                if (DEBUG) {
                    console.log('Search Done');
                }
            }
        });
    }

    @*function Download() {
        $.ajax({
            type: "POST",
            url: "@Html.Toyota().Page.GetActionUrl("DownloadVATIn")",
            data: {
                data: JSON.stringify(searchParam)
            }
        });
    }*@



    //Download
    function Download(type) {
        vatInIdList = [];
        var isValid = true;
        isContainDownloaded = false;
        isDownloadTransitory = false;
        isPermittedDownload = true;

        $('tbody tr').each(function (i) {
            if ($(this).find('.check').is(':checked')) {
                var thisId = $(this).find('.VATInId').val();
                var thisDownloadStatus = $(this).find('.VATInDownloadStatus').html();
                var thisTransitoryStatus = $(this).find('.TransitoryStatus').html();
                var thisApprovalStatus = $(this).find('.VATInApprovalStatus').html();
                var thisInvoiceStatus = $(this).find('.InvoiceStatus').html();

                if (!$("#checkall").is(":checked")) {
                    vatInIdList.push(thisId);
                }
                if (DEBUG) {
                    console.log(thisId + ' is selected');
                }
                console.log(thisDownloadStatus);
                console.log(thisInvoiceStatus);
                if (((thisInvoiceStatus.toLowerCase() == 'posted') || (thisInvoiceStatus.toLowerCase() == 'paid')) && (thisDownloadStatus == 'Yes')) {
                    isContainDownloaded = true;
                }
                if (((thisInvoiceStatus.toLowerCase() == 'posted') || (thisInvoiceStatus.toLowerCase() == 'paid')) && (thisDownloadStatus == 'N/A')) {
                    isContainDownloaded = false;
                }
                if (thisInvoiceStatus.toLowerCase() != 'posted' && thisInvoiceStatus.toLowerCase() != 'paid') {
                    isDownloadTransitory = true;
                }
                if (thisApprovalStatus.toLowerCase() == 'reject') {
                    isPermittedDownload = false;
                }
            }
        });
        var warning = '';
        var warn = '';
        //popup for CSV
        if (type == 'csv' && isContainDownloaded) {
            warning = 'Checked item(s) contain an already downloaded CSV. Do you want to proceed?';
            if (!confirm(warning)) {
                return;
            }
        }
        if (type == 'csv' && !isPermittedDownload) {
            warning = 'Checked item(s) contain Reject Approval Status!';
            alert(warning);
            return;
        }
        if (type == 'csv' && isDownloadTransitory) {
            warn = 'Checked item(s) can not download, Invoice Status must be Posted or Paid';
            if (!alert(warn)) {
                return;
            }

        }
        if (vatInIdList.length == 0 && !$("#checkall").is(":checked")) {
            isValid = false;
        }
        if (isValid) {
            console.log(JSON.stringify(searchParam));
            $.ajax({
                type: "POST",
                url: "@Html.Toyota().Page.GetActionUrl("GenerateDownloadFile")",
                data: {
                    data: JSON.stringify(searchParam),
                    vatInIdList: JSON.stringify(vatInIdList),
                    type: type,
                    checkAll: $("#checkall").is(":checked")
                },
                beforeSend: function () {
                    $('#btnDownloadChoice').button('loading');
                    if (DEBUG) {
                        console.log('Generate Download Start');
                    }
                },
                success: function (result) {
                    if (result.ResultCode) {
                        if (result.Data != null && result.Data != "") {
                            window.location = "@Html.Toyota().Page.GetActionUrl("DownloadTemp")" + "?filePath=" + result.Data;
                            onGet(1);
                            msgOk(result.ResultDesc);
                        }
                        else {
                            msgError("There is no file found");
                        }
                    }
                    else {
                        msgError(result.ResultDesc);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    if (DEBUG) {
                        console.log('Generate Download Error');
                        console.log("error: " + errorThrown);
                    }
                },
                complete: function () {
                    $('#btnDownloadChoice').button('reset');
                    if (DEBUG) {
                        console.log('Generate Download Done');
                    }
                }
            });
        }
        else {
            msgWarning('Please checklist at least one item to perform this action');
        }
    }


    function Delete() {
        vatInIdList = [];
        var isValid = true;
        isDeleteVATIn = false;

            $('tbody tr').each(function (i) {
                if ($(this).find('.check').is(':checked')) {
                    var thisId = $(this).find('.VATInId').val();
                    var thisTransitoryStatus = $(this).find('.TransitoryStatus').html();
                    if (!$("#checkall").is(":checked")) {
                        vatInIdList.push(thisId);
                    }
                    if (DEBUG) {
                        console.log(thisId + ' is selected');
                    }
                    console.log(thisTransitoryStatus);
                    if ((thisTransitoryStatus.toLowerCase() == 'yes') || (thisTransitoryStatus.toLowerCase() == 'no')) {
                        isDeleteVATIn = true;
                    }

                }
            });


        //popup for Delete
        var warn = '';

        if (isDeleteVATIn) {
            warn = 'Checked item(s) can not delete, Transitory Status contain Yes/No';
            if (!alert(warn)) {
                return;
            }
        }

        if (vatInIdList.length == 0 && !$("#checkall").is(":checked")) {
            isValid = false;
        }
        var warning = 'Are you sure you want to delete the data?';
        if (isValid) {
            if (confirm(warning)) {
                console.log(JSON.stringify(searchParam));
                $.ajax({
                    type: "POST",
                    url: "@Html.Toyota().Page.GetActionUrl("DeleteVATIn")",
                    data: {
                        data: JSON.stringify(searchParam),
                        vatInIdList: JSON.stringify(vatInIdList),

                        checkAll: $("#checkall").is(":checked")
                    },
                    beforeSend: function () {
                        $('#btnAction').button('loading');
                        if (DEBUG) {
                            console.log('Delete Start');
                        }
                    },
                    complete: function () {
                        $('#btnAction').button('reset');
                        if (DEBUG) {
                            console.log('Delete Done');
                        }
                    },
                    success: function (result) {
                        if (result.ResultCode) {
                            onGet(1);
                            if (DEBUG) {
                                console.log('Delete Success');
                            }
                            msgOk(result.ResultDesc);
                        }
                        else {
                            msgError(result.ResultDesc);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        if (DEBUG) {
                            console.log('Generate Download Error');
                            console.log("error: " + errorThrown);
                        }
                    }
                });
            }
        }
        else {
            msgWarning('Please checklist at least one item to perform this action');
        }
    }

    function DeleteDraft() {
        vatInIdList = [];
        var isValid = true;
        isDeleteVATInBasedInvStt = false;
        isDeleteVATIn = false;

        $('tbody tr').each(function (i) {
            if ($(this).find('.check').is(':checked')) {
                var thisId = $(this).find('.VATInId').val();
                var thisInvoiceStatus = $(this).find('.InvoiceStatus').html();
                var thisTransitoryStatus = $(this).find('.TransitoryStatus').html();
                if (!$("#checkall").is(":checked")) {
                    vatInIdList.push(thisId);
                }
                if (DEBUG) {
                    console.log(thisId + ' is selected');
                }
                console.log(thisInvoiceStatus);
                if ((thisInvoiceStatus.toLowerCase() == 'cancelled') || (thisInvoiceStatus.toLowerCase() == 'paid') ||
                    (thisInvoiceStatus.toLowerCase() == 'posted') || (thisInvoiceStatus.toLowerCase() == 'registered')) {
                    isDeleteVATInBasedInvStt = true;
                }
                console.log(thisTransitoryStatus);
                if ((thisTransitoryStatus.toLowerCase() == 'yes') || (thisTransitoryStatus.toLowerCase() == 'no')) {
                    isDeleteVATIn = true;
                }

            }
        });


        //popup for Delete
        var warn = '';

        if (isDeleteVATInBasedInvStt) {
            warn = 'Checked item(s) can not delete, Invoice Status contain Cancelled/Paid/Posted/Registered';
            if (!alert(warn)) {
                return;
            }
        }

        if (isDeleteVATIn) {
            warn = 'Checked item(s) can not delete, Transitory Status contain Yes/No';
            if (!alert(warn)) {
                return;
            }
        }

        if (vatInIdList.length == 0 && !$("#checkall").is(":checked")) {
            isValid = false;
        }
        var warning = 'Are you sure you want to delete the data?';
        if (isValid) {
            if (confirm(warning)) {
                console.log(JSON.stringify(searchParam));
                $.ajax({
                    type: "POST",
                    url: "@Html.Toyota().Page.GetActionUrl("DeleteVATIn")",
                    data: {
                    data: JSON.stringify(searchParam),
                    vatInIdList: JSON.stringify(vatInIdList),

                    checkAll: $("#checkall").is(":checked")
                    },
                    beforeSend: function () {
                        $('#btnAction').button('loading');
                        if (DEBUG) {
                            console.log('Delete Start');
                        }
                    },
                    complete: function () {
                        $('#btnAction').button('reset');
                        if (DEBUG) {
                            console.log('Delete Done');
                        }
                    },
                    success: function (result) {
                        if (result.ResultCode) {
                            onGet(1);
                            if (DEBUG) {
                                console.log('Delete Success');
                            }
                            msgOk(result.ResultDesc);
                        }
                        else {
                            msgError(result.ResultDesc);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        if (DEBUG) {
                            console.log('Generate Download Error');
                            console.log("error: " + errorThrown);
                        }
                    }
                });
            }
        }
        else {
                msgWarning('Please checklist at least one item to perform this action');
        }
    }

    function onCallback(pg) {
        var mx = $("#txtMaxPage").val();
        if ((pg <= mx) && (pg > 0)) {
            onGet(pg);
        }
        else {
            msgWarning('Page not found');
        }
    }
</script>