﻿@using TAM.EFaktur.Web.Models.Master_User
@using TAM.EFaktur.Web.Models

@{
    UserUpdateViewModel User = (UserUpdateViewModel)ViewData["UpdateUser"];
}
<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Update User</h4>
    <hr />

    <form role="form" class="form-horizontal" id="UpdateUserForm">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <input type="hidden" value="@User.Id" id="hiddenId" />
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">User Name</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtUserNameUpdate" name="UserName" type="text" class="form-control" value="@User.Username" />
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Email</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtEmailUpdate" name="EmailName" type="text" class="form-control" value="@User.Email" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="btn-group-sm">
                    <button type="submit" class="btn btn-primary" id="btnSave">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancel">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">

    getDropdownData(URLDropdownDivision, "ddlDivisionPopupUpdate", "@User.DivisionId");
    getDropdownData(URLDropdownRole, "ddlRolePopupUpdate", "@User.RoleId");

    $(document).ready(function () {
        $('#UpdateUserForm').bootstrapValidator({
            live: 'enabled',
            fields: {
                //name of field
                UserName: {
                    validators: {
                        notEmpty: {
                            message: 'Username is required and can\'t be empty'
                        }
                    }
                },
                EmailName: {
                    validators: {
                        notEmpty: {
                            message: 'Email is required and can\'t be empty'
                        }
                    }
                }
                //DivisionName: {
                //    validators: {
                //        notEmpty: {
                //            message: 'Division is required and can\'t be empty'
                //        }
                //    }
                //},
                //RoleName: {
                //    validators: {
                //        notEmpty: {
                //            message: 'Role is required and can\'t be empty'
                //        }
                //    }
                //}

            }
        })
        .on('success.form.bv', function (e) {
            // Prevent form submission
            e.preventDefault();

            onSubmit();
        });
    });

    //Insert New User
    $("#btnSave").click(function () {
        //console.log("Apakah Masuk Sini ?");
        User = {
            Id: $("#hiddenId").val(),
            Username: $("#txtUserNameUpdate").val(),
            Email: $("#txtEmailUpdate").val(),
            DivisionId: $("#ddlDivisionPopupUpdate").val(),
            RoleId: $("#ddlRolePopupUpdate").val(),
            UserId: $("#hiddenId").val()
        };
    });
    //Ajax POST/GET Method

    function onSubmit() {
        $.ajax({
            type: "POST",
            url: URLSaveUpdate,
            data: {
                data: JSON.stringify(User)
            },
            beforeSend: function () {
                $('#btnSave').button('loading');
                if (DEBUG) {
                    console.log('Save Start');
                }
            },
            success: function (result) {
                if (result.ResultCode) {
                    msgOk(result.ResultDesc);
                }
                else {
                    msgError(result.ResultDesc);
                }
                if (DEBUG) {
                    console.log('Save Success');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (DEBUG) {
                    console.log("error: " + errorThrown);
                }
                msgError("An error has occured");
            },
            complete: function () {
                $('#btnSave').button('reset');
                if (DEBUG) {
                    console.log('Save Done');
                }
                onGet(1);
                $('#btnCancel').click();
            }
        });
    }



</script>