﻿@{
    Layout = null;
    var title = "Masuk eFaktur";
    var passportUrl = TAM.Passport.TdkIntegrations.PassportSettingsAccessor.PassportUrl;
    var passportAppId = TAM.Passport.TdkIntegrations.PassportSettingsAccessor.PassportAppId;
    var ssoJsUrl = passportUrl + "/tam-sso.js";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@title</title>

    <!-- DEVELOPMENT -->
    <link href="/Content/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/lib/bootstrap-validator/bootstrapValidator.min.css" rel="stylesheet" />
    <link href="/Content/lib/calendar/calendar.css" rel="Stylesheet" />
    <link href="/Content/lib/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css" rel="Stylesheet" />
    <link href="/Content/lib/jquery.fileupload/jquery.fileupload.css" rel="Stylesheet" />
    <link href="/Content/css/tdk.css" rel="stylesheet" />
    <link href="/Content/css/tdk-theme.css" rel="stylesheet" />
    <link href="/Content/css/custom.css" rel="stylesheet" />
    <!-- use sb-admin-2 theme -->
    <link rel="stylesheet" href="/Content/lib/sbAdmin/css/metisMenu.min.css" />
    <link rel="stylesheet" href="/Content/lib/sbAdmin/css/sb-admin-2.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="/Content/lib/html5shiv.min.js"></script>
      <script type="text/javascript" src="/Content/lib/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-login panel-primary">
                    <div class="panel-heading"><h4 class="panel-title">eFaktur - Please sign in</h4></div>
                    <div class="panel-body">
                        <form method="post" role="form" id="login-form">
                            <div class="form-group">
                                <tam-sso server="@passportUrl" app="@passportAppId" auto-submit="login-form"></tam-sso>
                                <p>
                                    @Html.ValidationMessage("TAMSignOnToken")
                                </p>
                                @Html.AntiForgeryToken()
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/Content/lib/jquery.min.js"></script>
    <script type="text/javascript" src="/Content/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.maskedinput.min.js"></script>
    <script type="text/javascript" src="/Content/lib/moment/moment.min.js"></script>
    <script type="text/javascript" src="/Content/lib/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.bootstrap-growl.js"></script>
    <script type="text/javascript" src="/Content/js/utility.js"></script>
    <script type="text/javascript" src="/Content/js/message.js"></script>
    <script src="@ssoJsUrl"></script>
</body>
</html>
