﻿<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Search Keyword(s)</h4>
    <hr />
    <form role="form" class="form-horizontal" id="InputUserForm">
        <div class="row">
            @*<textarea class="form-control" rows="5" id="keywordElementsContainer" style="width:90%; margin:auto; margin-bottom:9px"></textarea>*@
            <div class="col-xs-12" id="keywordElementsContainer" style="max-height:300px;overflow-y:auto;">
                
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 text-left">
                <div class="btn-group-sm">
                    <button type="button" class="btn btn-primary" id="btnAddNewParam">Add New Keyword</button>
                </div>
            </div>
            <div class="col-xs-6 text-right">
                <div class="btn-group-sm">
                    <button type="submit" class="btn btn-success" id="btnSaveKeywordParam" >Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>

    </form>
</div>

<script type="text/javascript">
    var lookupValue = $("#" + "@ViewBag.ElementId").val();
    var searchParam = [];
    var txtCount = 0;
    var txtCountLimit = 10;

    //default StartUp function
    $(function () {
        if (lookupValue != null && lookupValue.trim() != '') {
            searchParam = $("#" + "@ViewBag.ElementId").val().split(';');
        }

        if (searchParam != null && searchParam.length > 0) {
            for (var i = 0; i < searchParam.length; i++) {
                if (searchParam[i] != null && searchParam[i] != '') {
                    addNew(i + 1, searchParam[i]);
                }
            }
        }
        else { //jika searchParam masih kosong maka add satu textbox keyword by default
            addNew(1, '');
        }
    });

    //save search keyword(s)
    function onSave(lookupName) {
        searchParam = [];

        $('#keywordElementsContainer').find('input').each(function () {
            if ($(this).val().trim() != null && $(this).val().trim() != '') { //hanya jika textbox keyword memiliki value maka masuk ke dalam array
                searchParam.push($(this).val().trim());
            }
        });

        $("#" + lookupName).val(searchParam.join(";")); //join array menjadi string, separated by semi colon

        if (searchParam.length > 1) {
            $("#" + lookupName.replace('lookup', 'txt')).val('Multiple');
        }
        else if (searchParam.length == 1) {
            $("#" + lookupName.replace('lookup', 'txt')).val(searchParam[0].trim());
        }
        else {
            $("#" + lookupName.replace('lookup', 'txt')).val('');
        }
        $('#modal-container').modal('hide');
    }

    //add new keyword
    function addNew(id, value, animate) {
        defaultFor(animate, false);
        if (txtCount < txtCountLimit) { //validasi limit total quantity dari keywords yang diperbolehkan dengan parameter txtCountLimit
            if (animate) {
                $("<div class='form-group form-group-xs'><div class='col-xs-12'><input id='txtKeyword" + id + "' type='text' class='form-control' value='" + value + "' /></div></div>")
                    .hide()
                    .appendTo("#keywordElementsContainer")
                    .show(250);
            }
            else {
                $("#keywordElementsContainer")
                .append("<div class='form-group form-group-xs'><div class='col-xs-12'><input id='txtKeyword" + id + "' type='text' class='form-control' value='" + value + "' /></div></div>");
            }
            txtCount++;
        }
        else {
            msgError('Search keywords cannot be more than ' + txtCountLimit);
        }
    }

    $("#btnAddNewParam").click(function () {
        addNew(txtCount+1, '', true);
    });

    $("#btnSaveKeywordParam").click(function (e) {
        e.preventDefault();
        onSave("@ViewBag.ElementId");
        console.log("@ViewBag.ElementId");
    });
</script>
