﻿<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Search Keyword(s)</h4>
    <hr />
    <form role="form" class="form-horizontal" id="InputUserForm">
        <div class="row">
            <div class="col-xs-12 text-right">
                <textarea class="form-control" rows="5" id="keywordElementsContainer" style="width:100%; margin:auto; margin-bottom:9px"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="btn-group-sm">
                    <button type="submit" class="btn btn-success" id="btnSaveKeywordParam">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    var lookupValue = $("#" + "@ViewBag.ElementId").val();
    var searchParam = [];

    //default StartUp function
    $(function () {
        if (lookupValue != null && lookupValue.trim() != '') {
            searchParam = $("#" + "@ViewBag.ElementId").val().split(';'); //get value from textarea to searchParam
        }

        if (searchParam != null && searchParam.length > 0) {
            var value = "";
            for (var i = 0; i < searchParam.length; i++) {
                if (searchParam[i] != null && searchParam[i] != '') {
                    var line = "";
                    var row = i + 1; 
                    if (searchParam.length > 1 && row < searchParam.length) {
                        line = "\n";
                    }
                    value = value + searchParam[i] + line;
                }
            }
            $("#keywordElementsContainer").val(value);
        }
    });

    //save search keyword(s)
    function onSave(lookupName) {
        searchParam = [];

        if ($('#keywordElementsContainer').val().trim() != null && $('#keywordElementsContainer').val().trim() != '') {
            //validasi kalo ada karakter ', dihilangkan
            if ($('#keywordElementsContainer').val().includes("'")) { //hanya jika textbox keyword memiliki value maka masuk ke dalam array
                searchParam = $('#keywordElementsContainer').val().replace("'", "").split("\n");
            } else {               
                searchParam = $('#keywordElementsContainer').val().split("\n");
            }
        }
        if (searchParam.length >= 1) {
            $("#" + lookupName).val(searchParam.join(";")); //join array menjadi string, separated by semi colon

            $("#" + lookupName.replace('lookup', 'txt')).val(searchParam);
        } else {
            $("#" + "@ViewBag.ElementId").val(''); //clear value textarea
            $("#" + lookupName.replace('lookup', 'txt')).val(searchParam);
        }
        $('#modal-container').modal('hide');
    }

    $("#btnSaveKeywordParam").click(function (e) {
        e.preventDefault();
        onSave("@ViewBag.ElementId");
        console.log("@ViewBag.ElementId");
    });
</script>
