﻿<div class="form-inline">
    <label>
        Show per page
        <select class="form-control input-xs" id="ddlPageSize">
            <option>10</option>
            <option>25</option>
            <option>50</option>
            <option>100</option>
            <option>200</option>
        </select>
    </label>
</div>