﻿<form role="form" class="form-horizontal" id="inputParameterSetup"
      data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
    <input type="hidden" id="ConditionStatus" name="ConditionStatus">
    <input type="hidden" id="IdParam" name="IdParam">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="form-group form-group-xs">
            <label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label text-muted required">Module Name</label>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
                <select class="form-control" id="ddlModuleName2" style="width: 300px;" name="ModuleName2" onchange="onChageModuleName();" required>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label text-muted required">Parameter Code</label>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
                <input id="txtParameterCode2" type="text" class="form-control" style="width: 300px;" required name="ParameterCode2" maxlength="256" />
            </div>
        </div>

        <div class="form-group ">
            <label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label text-muted required">Parameter Name</label>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
                <input id="txtParameterName2" type="text" class="form-control" maxlength="100" required name="ParameterName2" />
            </div>
        </div>

        <div class="form-group" >
            <label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label text-muted required">Parameter Value</label>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
                <textarea id="txtParameterValue2" class="form-control" rows="3"  required name="ParameterValue2"></textarea>

            </div>
        </div>

        <div class="form-group" >
            <label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label text-muted ">Deadline H+</label>
            <div class="col-xs-4 col-sm-3 col-md-2">
                <input id="txtParameterDeadline2" maxlength="5" onkeypress="return isNumber(event)" type="text" class="form-control"  name="ParameterDeadline2" />
            </div>

            <label class="col-sm-3 col-md-3 col-lg-1 control-label text-muted ">Field Name</label>

            <div class="col-sm-9 col-md-9 col-lg-8 col-lg-2">

                <input id="txtFromFieldName2" type="text" style="width: 300px;" class="form-control" maxlength="50"  name="FromFieldName2" />
            </div>

        </div>
        
        <div id="divddlBusinessUnit2" class="form-group" style="display:none">
            <label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label text-muted">Business Unit</label>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
                <select class="form-control" id="ddlBusinessUnit2" style="width: 300px;">
                </select>
            </div>
        </div>

        <div id="divddlTransactionCode2" class="form-group" style="display:none">
            <label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label text-muted">Transaction Type Code</label>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
                <select class="form-control" name='ddlTransactionCode2' id="ddlTransactionCode2" style="width: 300px;" multiple>
                </select>



            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label text-muted required">Category Name</label>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
                <input id="txtCategoryName2" type="text" class="form-control" style="width: 300px;" maxlength="150" required name="CategoryName2" />
            </div>
        </div>

        @*<div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label text-muted">Color</label>
            <div id="color-picker-component" class="col-xs-12 col-sm-9 col-md-9 col-lg-10 input-group colorpicker-component">
                <input id="txtColor2" type="text" value="#38a677" class="form-control" style="width: 300px;" required name="Color2" />
            </div>
        </div>*@

        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label text-muted required">Color</label>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">

                <input id="txtColor2" type="text" data-format="hex" value="#38a677" style="width: 300px;" required name="Color2" class="form-control" />

            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label text-muted">Icon</label>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
                <input id="txtIcon2" type="text" class="form-control" name="Icon2" maxlength="50" style="width: 300px;" />
                @*<input id="txtColor2" type="text" data-format="hex" value="#38a677" name="Color2" class="form-control" />*@

            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label text-muted required">Color Status</label>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
                <input id="txtColorStatus2" type="text" class="form-control" maxlength="200" name="ColorStatus2" required style="width: 300px;" />
                @*<input id="txtColor2" type="text" data-format="hex" value="#38a677" name="Color2" class="form-control" />*@

            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label text-muted">Condition 1</label>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
                <textarea id="txtNote12" maxlength="3000" class="form-control" rows="3" name="Note12"></textarea>

            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label text-muted">Condition 2</label>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
                <textarea id="txtNote22" maxlength="3000" class="form-control" rows="3" name="Note22"></textarea>

            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label text-muted">Condition 3</label>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
                <textarea id="txtNote32" maxlength="3000" class="form-control" rows="3" name="Note32"></textarea>

            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label text-muted">Condition 4</label>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
                <textarea id="txtNote42" maxlength="3000" class="form-control" rows="3" name="Note42"></textarea>

            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label text-muted">Condition 5</label>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
                <textarea id="txtNote52" maxlength="3000" class="form-control" rows="3" name="Note52"></textarea>

            </div>
        </div>



    </div>
    <div class="row">
        <div class="col-xs-12 text-right">
            <div class="btn-group-md">

                <button id="btnSubmit" type="submit" class="btn btn-success" data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading...">Save</button>



                <button id="btnClear" type="button" class="btn btn-danger">Clear</button>
                <button id="btnCancel" type="button" class="btn btn-danger">Cancel</button>
            </div>
        </div>
    </div>

</form>

<script>
    //$(function () {
    //    $('#color-picker-component').colorpicker();
    //});
    $(function () {
        $('#txtColor2').colorpicker({
         
            colorSelectors: {
                '#777777': '#777777',
                '#337ab7': '#337ab7',
                '#5cb85c': '#5cb85c',
                '#5bc0de': '#5bc0de',
                'warning': '#f0ad4e',
                '#d9534f': '#d9534f'
            }

        });
    });
</script>