﻿<form role="form" class="form-horizontal" id="searchReturnForm">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Module Name</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlModuleName" multiple>
                    </select>
                </div>
            </div>

            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Parameter Name</label>
                <div class="col-xs-8 col-sm-6 col-md-6">

                    <input id="txtParameterName" type="text" class="form-control">

                </div>
            </div>



            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Deadline H+</label>
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <select class="form-control" id="ddlDeadlineOperator">
                        999
                        <option></option>
                        <option value="EQ">=</option>
                        <option value="LT">&lt;</option>
                        <option value="LTE">&lt;=</option>
                        <option value="GT">&gt;</option>
                        <option value="GTE">&gt;=</option>
                    </select>
                </div>
                <div class="col-xs-8 col-sm-6 col-md-6" style="padding-left:0px">
                    <input type="text" class="form-control" id="txtDeadline" />
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Business Unit</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlBusinessUnit" multiple>
                    </select>
                </div>
            </div>

            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Category Name</label>
                <div class="col-xs-8 col-sm-6 col-md-6">

                    <input id="txtParameterCategoryName" type="text" class="form-control">

                </div>
            </div>

        </div>

        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Parameter Code</label>
                <div class="col-xs-12 col-sm-9 col-md-8">

                    <input id="txtParameterCode" type="text" class="form-control">


                </div>
            </div>

            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Parameter Value</label>
                <div class="col-xs-12 col-sm-9 col-md-8">

                    <input id="txtParameterValue" type="text" class="form-control">


                </div>
            </div>


            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">From Field Name</label>
                <div class="col-xs-12 col-sm-9 col-md-8">

                    <input id="txtFromFieldName" type="text" class="form-control">


                </div>
            </div>

            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Transaction Type Code</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlTransactionCode" multiple></select>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted btn-group">Color</label>
                <div id='selectcolor' class="col-xs-12 col-sm-9 col-md-8">
                    <button id="btnselected" type="button" class="btn btn-default dropdown-toggle" style="width:100%" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id="selected">None Selected</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="ulcolor">
                    </ul>
                </div>
                <input type="hidden" class="form-control" id="inputcolor" />
            </div>
          
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6" style="margin-top: 5px;">
            <a id="lnsearch-toggle" class="_linkact">Expand search criteria</a>
        </div>
        <div class="col-xs-6 text-right">
            <div class="btn-group-sm">
                <button type="button" class="btn btn-primary" id="btnSearch" data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading...">Search</button>
                <button type="button" class="btn btn-default" id="btnClearSearch">Clear</button>
            </div>
        </div>
    </div>
</form>


