﻿@using TAM.EFaktur.Web.Models.Master_Role
@using TAM.EFaktur.Web.Models

@{
    MasterRole Role = (MasterRole)ViewData["UpdateRole"];
}

<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Update Role</h4>
    <hr />

    <form role="form" class="form-horizontal" id="UpdateRoleForm">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <input type="hidden" value="@Role.Id" id="hiddenId" />
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Role Code</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtRoleCodeUpdate" name="RoleCode" type="text" class="form-control" value="@Role.RoleCode" />
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Role Name</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtRoleNameUpdate" name="RoleName" type="text" class="form-control" value="@Role.RoleName" />
                    </div>
                </div>

            </div>


            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Application Code</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <select class="form-control" id="ddlApplicationCodeUpdate" name="ApplicationName">
                            <option>E-Faktur</option>
                        </select>
                    </div>
                </div>
                

            </div>

        </div>

        <div class="row">

            <div class="col-xs-12 text-right">
                <div class="btn-group-sm">
                    <button type="submit" class="btn btn-primary" id="btnSave">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancel">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
   
     $(document).ready(function () {
        $('#UpdateRoleForm').bootstrapValidator({
            live: 'enabled',
            fields: {
                RoleCode: {
                    validators: {
                        notEmpty: {
                            message: 'Role Code is required and can\'t be empty'
                        }
                    }
                },
                RoleName: {
                    validators: {
                        notEmpty: {
                            message: 'Role Name is required and can\'t be empty'
                        }
                    }
                },
                ApplicationCode: {
                    validators: {
                        notEmpty: {
                            message: 'Application Code is required and can\'t be empty'
                        }
                    }
                }

            }
        })
        .on('success.form.bv', function (e) {
            // Prevent form submission
            e.preventDefault();

            onSubmit();
        });
    });

    //Ajax POST/GET Method

    function onSubmit() {
        Role = {
            Id: $("#hiddenId").val(),
            RoleCode: $("#txtRoleCodeUpdate").val(),
            RoleName: $("#txtRoleNameUpdate").val(),
            ApplicationCode: $("#ddlApplicationCodeUpdate").val()
        };
        $.ajax({
            type: "POST",
            url: URLSaveUpdate,
            data: {
                data: JSON.stringify(Role)
                },
            beforeSend: function () {
                $('#btnSave').button('loading');
                if (DEBUG) {
                    console.log('Save Start');
                }
            },
            success: function (result) {
                if (result.ResultCode) {
                    msgOk(result.ResultDesc);
                    onGet(1);
                    $('#btnCancel').click();
                }
                else {
                    msgError(result.ResultDesc);
                }
                if (DEBUG) {
                    console.log('Save Success');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (DEBUG) {
                    console.log("error: " + errorThrown);
                }
                msgError("An error has occured");
            },
            complete: function () {
                $('#btnSave').button('reset');
                if (DEBUG) {
                    console.log('Save Done');
                }
               
            }
        });
    }
</script>