﻿<form role="form" class="form-horizontal" id="searchForm">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 _searchCriteria">
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Role Code</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtRoleCode" type="text" class="form-control" readonly />
                        <input id="lookupRoleCode" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupMultipleSearch", "Master_Role", new { Id = "lookupRoleCode" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Role Name</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtRoleName" type="text" class="form-control" readonly />
                        <input id="lookupRoleName" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupMultipleSearch", "Master_Role", new { Id = "lookupRoleName" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div>

                </div>
            </div>

        </div>


        <div class="col-xs-12 col-sm-6 col-md-6 _searchCriteria">

            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Application Code</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control">
                        <option value="E-Faktur">E-Faktur</option>
                    </select>
                </div>
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-xs-6" style="margin-top: 5px;">
          
        </div>
        <div class="col-xs-6 text-right">
            <div class="btn-group-sm">
                @Html.ActionLink("New Role", "PopupCreateRole", "Master_Role", null, new { @class = "modal-link btn btn-danger" })
                <button type="button" class="btn btn-primary" id="btnSearch" data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading...">Search</button>
                <button type="reset" class="btn btn-default" id="btnClearSearch" onclick="clearSearch()">Clear</button>
            </div>
        </div>
    </div>

</form>

<script type="text/javascript">

    //Clear Form Search
    function clearSearch() {
        document.getElementById("txtRoleCode").value = "";
        document.getElementById("lookupRoleCode").value = "";
        document.getElementById("txtRoleName").value = "";
        document.getElementById("lookupRoleName").value = "";
        }
</script>
