﻿@{
    ViewBag.Title = "SyncOnDemand";
}

@section HeadScript{

<style>

    .button_size {
        min-width: 100px;
        max-width: 200px;
        min-height:50px;
        max-height:60px;

    }
</style>
}

<form role="form" class="form-horizontal" id="InputUserForm">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group form-group-xs">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <button type="button" class="btn btn-primary btn-block">Sync</button>
                </div>
                <label class="col-xs-12 col-sm-6 col-md-9 text-muted">User Code</label>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group form-group-xs">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <button type="button" class="btn btn-primary btn-block">Sync</button>
                </div>
                <label class="col-xs-12 col-sm-6 col-md-9 text-muted">User Code</label>
            </div>
        </div>
    </div>
</form>


@section BodyScript{



}