﻿<form role="form" class="form-horizontal" id="searchForm">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Tax Number</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtTaxInvoiceNumber" type="text" class="form-control" placeholder="000.000-00.00000000" readonly>
                        <input id="lookupTaxInvoiceNumber" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "DRKB", new { Id = "lookupTaxInvoiceNumber" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>

            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Tax Date</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtTaxInvoiceDateFrom" type="text" class="form-control" placeholder="From" value="@DateTime.Now.Day" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtTaxInvoiceDateTo" type="text" class="form-control" placeholder="To" value="@DateTime.Now.Day" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Customer NPWP</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtCustomerNPWP" type="text" class="form-control" placeholder="00.00.00.0-000.000" readonly>
                        <input id="lookupCustomerNPWP" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "DRKB", new { Id = "lookupCustomerNPWP" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                    @* <small class="help-block" data-bv-validator="notEmpty" data-bv-for="InvoiceNumber" style="display: block;">Format Customer NPWP: (00.00.00.0-000.000)</small>*@
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Customer Name</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtCustomerName" type="text" class="form-control" readonly>
                        <input id="lookupCustomerName" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "DRKB", new { Id = "lookupCustomerName" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>

            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Frame Number</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtFrameNumber" type="text" class="form-control" readonly>
                        <input id="lookupFrameNumber" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "DRKB", new { Id = "lookupFrameNumber" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div>
                </div>
            </div>
            <!--<div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Engine Number</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtEngineNumber" type="text" class="form-control" readonly>
                        <input id="lookupEngineNumber" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "DRKB", new { Id = "lookupEngineNumber" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div>--><!-- /input-group -->
                <!--</div>
            </div>-->
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Merk Name</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtMerkOrType" type="text" class="form-control" readonly>
                        <input id="lookupMerkOrType" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "DRKB", new { Id = "lookupMerkOrType" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Model</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtModel" type="text" class="form-control" readonly>
                        <input id="lookupModel" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "DRKB", new { Id = "lookupModel" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div> 
                </div>
            </div>

            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Year</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtYear" type="text" class="form-control" readonly>
                        <input id="lookupYear" type="hidden" value="0" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "DRKB", new { Id = "lookupYear" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>

        </div>

        <div class="col-xs-12 col-sm-6 col-md-6">

            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Business Unit</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlBusinessUnit" multiple>
                    </select>
                </div>
            </div>

            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">VAT Based Amount</label>
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <select class="form-control" id="ddlVATBaseAmountOperator">
                        <option></option>
                        <option value="EQ">=</option>
                        <option value="LT">&lt;</option>
                        <option value="LTE">&lt;=</option>
                        <option value="GT">&gt;</option>
                        <option value="GTE">&gt;=</option>
                    </select>
                </div>
                <div class="col-xs-8 col-sm-6 col-md-6" style="padding-left:0px">
                    <input type="number" class="form-control" id="txtVATBaseAmount" />
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">VAT Amount</label>
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <select class="form-control" id="ddlVATAmountOperator">
                        <option></option>
                        <option value="EQ">=</option>
                        <option value="LT">&lt;</option>
                        <option value="LTE">&lt;=</option>
                        <option value="GT">&gt;</option>
                        <option value="GTE">&gt;=</option>
                    </select>
                </div>
                <div class="col-xs-8 col-sm-6 col-md-6" style="padding-left:0px">
                    <input type="number" class="form-control" id="txtVATAmount" />
                </div>
            </div>
            @*<div class="form-group form-group-xs _searchCriteria">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Luxury Tax Amount</label>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <select class="form-control" id="ddlLuxTaxAmountOperator">
                            <option></option>
                            <option value="EQ">=</option>
                            <option value="LT">&lt;</option>
                            <option value="LTE">&lt;=</option>
                            <option value="GT">&gt;</option>
                            <option value="GTE">&gt;=</option>
                        </select>
                    </div>
                    <div class="col-xs-8 col-sm-6 col-md-6" style="padding-left:0px">
                        <input type="number" class="form-control" id="txtLuxTaxAmount" />
                    </div>
                </div>*@
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Previous Luxury Tax Amount</label>
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <select class="form-control" id="ddlPrevLuxTaxAmountOperator">
                        <option></option>
                        <option value="EQ">=</option>
                        <option value="LT">&lt;</option>
                        <option value="LTE">&lt;=</option>
                        <option value="GT">&gt;</option>
                        <option value="GTE">&gt;=</option>
                    </select>
                </div>
                <div class="col-xs-8 col-sm-6 col-md-6" style="padding-left:0px">
                    <input type="number" class="form-control" id="txtPrevLuxTaxAmount" />
                </div>
            </div>

            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Remarks</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtRemarks" type="text" class="form-control" readonly>
                        <input id="lookupRemarks" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "DRKB", new { Id = "lookupRemarks" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6" style="margin-top: 5px;">
            <a id="lnsearch-toggle" class="_linkact">Expand search criteria</a>
        </div>
        <div class="col-xs-6 text-right">
            <div class="btn-group-sm">
                <button type="button" class="btn btn-primary" id="btnSearch" data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading...">Search</button>
                <button type="button" class="btn btn-default" id="btnClearSearch" value="Clear" onclick='clearTextBox();'>Clear</button>
            </div>
        </div>
    </div>
</form>

<script style="Text/Javascript">


    //Clear TextBox
    function clearTextBox() {
        document.getElementById("txtTaxInvoiceNumber").value = "";
        document.getElementById("lookupTaxInvoiceNumber").value = "";

        document.getElementById("txtTaxInvoiceDateFrom").value = "";
        document.getElementById("txtTaxInvoiceDateTo").value = "";

        document.getElementById("ddlBusinessUnit").value = "";

        document.getElementById("txtCustomerNPWP").value = "";
        document.getElementById("lookupCustomerNPWP").value = "";

        document.getElementById("txtCustomerName").value = "";
        document.getElementById("lookupCustomerName").value = "";


        document.getElementById("txtFrameNumber").value = "";
        document.getElementById("lookupFrameNumber").value = "";
        document.getElementById("txtMerkOrType").value = "";
        document.getElementById("lookupMerkOrType").value = "";
        document.getElementById("txtModel").value = "";
        document.getElementById("lookupModel").value = "";
        document.getElementById("txtYear").value = "";
        document.getElementById("lookupYear").value = "";


        document.getElementById("ddlVATBaseAmountOperator").value = "";
        document.getElementById("txtVATBaseAmount").value = "";

        document.getElementById("ddlVATAmountOperator").value = "";
        document.getElementById("txtVATAmount").value = "";

        document.getElementById("ddlPrevLuxTaxAmountOperator").value = "";
        document.getElementById("txtPrevLuxTaxAmount").value = "";

        document.getElementById("txtRemarks").value = "";
        document.getElementById("lookupRemarks").value = "";

        $('#ddlBusinessUnit').multiselect('clearSelection');
        document.getElementById("lookupIdddlBusinessUnit").value = "";
        document.getElementById("lookupNameddlBusinessUnit").value = "";
    }
</script>
