﻿@{
    ViewBag.Title = "DRKB Report";
}

@section HeadScript{
    <style>
        ._searchCriteria {
            display: none;
        }
    </style>
}

@Html.Partial("_SearchCriteria")

<div class="_line-br"></div>

<div class="row">
    <div class="col-xs-12 col-sm-6">        
        @Html.Partial("_UIPageSize")
    </div>
    <div class="col-xs-12 col-sm-6 text-right">
        <div class="form-group form-group-xs">
            @Html.Partial("_UITotalSelectedIndicator")
            
            <div class="btn-group btn-group-sm">
                <button id="btnPrintChoice" type="button" class="btn btn-primary" data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading...">Print</button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#" onclick="Print('pdf')">Print as pdf</a></li>
                    <li><a href="#" onclick="Print('xls')">Print as excel</a></li>
                </ul>
            </div>          
            
                <div class="btn-group btn-group-sm">
                    <button id="btnDownloadChoice" type="button" class="btn btn-primary" data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading...">Download</button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                         <li><a href="#" onclick="Download('pdf')">Pdf Original Data/File</a></li>
                         <li><a href="#" onclick="Download('pdf_report')">Pdf Report</a></li>
                         <li><a href="#" onclick="Download('xls')">Excel Original Data/File</a></li>
                         <li><a href="#" onclick="Download('xls_report')">Excel Report</a></li>
                    </ul>
                </div>
             
        </div>
    </div>
</div>

@Html.Partial("_SimpleGrid")

@section BodyScript{
    <script type="text/javascript">
        $(document).ready(function () {
            /* toggle show or hide searching criteria (that has class _searchCriteria) */
            $("#lnsearch-toggle").click(function () {
                var _criteria = $("._searchCriteria");
                _criteria.toggle(200, "linear");

                var text = $("#lnsearch-toggle").text();
                $("#lnsearch-toggle").text(text == "Expand search criteria" ? "Less search criteria" : "Expand search criteria");
            });
        });
    </script>
}
@Html.Partial("_Javascript")