﻿<div class="modal-body">
    <form role="form" class="form-horizontal" id="FileRegisterForm"
          data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Upload Doc</h4>
        <hr />
        @if (ViewBag.TemplateLink != null)
        {
            <div class="row" style="margin-bottom:15px;">
                <div class="col-xs-12 text-right">
                    <a href="@ViewBag.TemplateLink" target="_blank">Download Template</a>
                </div>
            </div>
        }
        <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Select files...</span>
            <!-- The file input field used as target for the file upload widget -->
            <input id="fileupload" name="fileupload" type="file">
        </span>
        <br>
        <br>
        <!-- The global progress bar -->
        <div id="progress" class="progress">
            <div class="progress-bar progress-bar-success"></div>
        </div>
        <!-- The container for the uploaded files -->
        <div id="files" class="files"></div>
        <input type="hidden" id="hTaxFacNo" name="hTaxFacNo" value="@ViewBag.TaxFacNo" />
    </form>
</div>

<script type="text/javascript">
    $(function () {
        'use strict';
       
        var url = '/Register/UploadRegisterFile';
        $('#fileupload').fileupload({
            url: url,
            dataType: 'json',
            done: function (e, data) {
                console.log("ini data");
                console.log(data);
                if (data.result.ResultCode) {
                    $.each(data.result.Data, function (index, file) {
                        $('<p/>').text(file.name).appendTo('#files');
                    });
                    console.log("doneee");
                    msgInfo(data.result.ResultDesc);
                    if (DEBUG) {
                        console.log("Upload Success");
                        console.log(data);      
                        onGet(1);
                    }
                }
                else {
                    msgError(data.result.ResultDesc);
                }
            },
            progressall: function (e, data) {
                console.log(data);
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .progress-bar').css(
                    'width',
                    progress + '%'
                );
                if (DEBUG) {
                    console.log(data);
                }
            },
            fail: function (e, data) {
                msgError("Upload has failed, please check Application Log for detail.");
                if (DEBUG) {
                    console.log("Upload Error");
                    console.log(data);
                    console.log(data.errorThrown);
                }
            }
        }).prop('disabled', !$.support.fileInput)
            .parent().addClass($.support.fileInput ? undefined : 'disabled');
    });
</script>