﻿@*@using TAM.EFaktur.Web.Models.Master_User*@
@*@using TAM.EFaktur.Web.Models.Master_Company_Details
    @using TAM.EFaktur.Web.Models*@
@using TAM.EFaktur.Web.Models
@using TAM.EFaktur.Web.Models.Master_Company_Details

@{
    List<CompanyViewModel> CompanyList = (List<CompanyViewModel>)ViewData["ListCompanyDetail"];
}
<div id="gridMasterUser">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th onclick="sortItem(1)" style="cursor:pointer">Key Invoice Number &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(2)" style="cursor:pointer">Location &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(3)" style="cursor:pointer">Company NPWP&nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(4)" style="cursor:pointer">Company Name &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(5)" style="cursor:pointer">Sign Off NPWP&nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(5)" style="cursor:pointer">Sign Off Name &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(6)" style="cursor:pointer">Sign Off Position &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(6)" style="cursor:pointer">Cut Off Start &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(6)" style="cursor:pointer">Cut Off End &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(7)" style="cursor:pointer">Image TTD &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(7)" style="cursor:pointer">Image Cap &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>

                </tr>
            </thead>
            <tbody>
                @if (CompanyList != null && CompanyList.Count > 0)
                {
                    foreach (CompanyViewModel Master_Company in CompanyList)
                    {
                <tr>
                    <td class="text-center">
                        <a href="@Url.Action("PopupUpdateCompanyDetail", "Master_Company_Details", new { Id =@Master_Company.Id})" class="modal-link btn btn-primary btn-xs btn-edit"><i class="fa fa-edit"></i></a>
                        <a href="@Url.Action("PopupDeleteCompanyDetail", "Master_Company_Details", new { Id =@Master_Company.Id})" class="modal-link btn btn-primary btn-xs btn-danger"><i class="fa fa-trash"></i></a>
                    </td>
                    <td>@Master_Company.Code</td>
                    <td>@Master_Company.Lokasi</td>
                    <td>@Master_Company.Npwp_pt</td>
                    <td>@Master_Company.Nama_pt</td>
                    <td>@Master_Company.Npwp_ttd</td>
                    <td>@Master_Company.Nama_ttd</td>
                    <td>@Master_Company.Jabatan_ttd</td>
                    <td class="fixed-column">@Master_Company.Cut_Off_Start.FormatViewDate()</td>
                    <td class="fixed-column">@Master_Company.Cut_Off_End.FormatViewDate()</td>
                    <td>
                        <a href="@Master_Company.Image_ttd" target="_blank">View Image</a>
                    </td>
                    <td>
                        <a href="@Master_Company.Image_cap" target="_blank">View Image</a>

                    </td>
                </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="danger" colspan="19"><b class="padding-5">No Record</b></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-xs-12" style="margin-bottom: 20px;">
            @Html.Partial("_UIPaging")
        </div>
    </div>
</div>