﻿@{
    ViewBag.Title = "Master Comapany Detail";
}

@*@section HeadScript{
    <style>
        ._searchCriteria {
            display: none;
        }
    </style>
}*@

@section HeadScript{
    <style>
        ._searchCriteria {
            display: none;
        }

        ._hidenew {
            display: none;
        }
    </style>
}

@Html.Partial("_searchCriteria")

<div class="row">
    <div class="col-xs-12 col-sm-6">
        @Html.Partial("_UIPageSize")
    </div>
    <div class="col-xs-12 col-sm-6 text-right" font-size: 5px;>
        <div class="form-group form-group-xs">
            @Html.Partial("_UITotalSelectedIndicator")
            @Html.ActionLink("Create New Company", "PopupCreateCompanyDetail", "Master_Company_Details", null, new { @class = "modal-link btn btn-danger" })
            &nbsp;
            @*<button type="button" id="newbutton" class="btn btn-primary">Create New Company</button>*@
            <button type="reset" class="btn btn-primary" onclick="Download('xls')"> Download To Excel</button>
        </div>
    </div>
</div>

@Html.Partial("_SimpleGrid")

@*<div class="_hidenew modal" id="modelcompany" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @Html.Partial("_PopupCreateCompanyDetail")
        </div>
    </div>
</div>*@


@section BodyScript{
    <script type="text/javascript">
        $(document).ready(function () {

            $(".btn-edit").click(function () {
                $("#edit-popup").modal();
            });

            $(".btn-delete").click(function () {
                $("#delete-confirm").modal();
            });

            //$("#newbutton").click(function () {
            //    //$('#modelcompany').modal('show');
            //    var _criteria = $("._hidenew");
            //    _criteria.toggle(200, "linear");
            //});

            /* toggle show or hide searching criteria (that has class _searchCriteria) */
            $("#lnsearch-toggle").click(function () {
                var _criteria = $("._searchCriteria");
                _criteria.toggle(200, "linear");

                var text = $("#lnsearch-toggle").text();
                $("#lnsearch-toggle").text(text == "Expand search criteria" ? "Less search criteria" : "Expand search criteria");
            });
        });

    </script>
}
@Html.Partial("_Javascript")


