﻿<script type="text/javascript">
    var searchParam = {};
    getDropdownData("@Html.Toyota().Page.BaseUrl" + "/Master_GeneralParam/GetKjsMapCodeDropdownFromTB_M_JenisPajak", "ddlKjsMapCode");
    getDropdownData("@Html.Toyota().Page.BaseUrl" + "/Master_GeneralParam/GetGlAccountDropdownFromTB_M_JenisPajak", "ddlGlAccount");
    getDropdownData("@Html.Toyota().Page.BaseUrl" + "/Master_GeneralParam/GetTaxArticleDropdownFromTB_M_JenisPajak", "ddlTaxArticle");
    getDropdownData("@Html.Toyota().Page.BaseUrl" + "/Master_GeneralParam/GetSptTypeDropdownFromTB_M_JenisPajak", "ddlSptType");

    var start = new Date().getFullYear() - 20;
    var end = new Date().getFullYear() + 20;
    var options = "";
    for (var year = start ; year <= end; year++) {
        options += "<option value=\"" + year + "\">" + year + "</option>";
    }
    document.getElementById("ddlTahun").innerHTML = options;
    var curryear = new Date().getFullYear();
    document.getElementById('ddlTahun').value = curryear;
    var currmonth = new Date().getMonth() + 1;
    document.getElementById('ddlMasa').value = currmonth;

    //bind event to buttons
    $("#btnSearch").click(function () {
        searchParam = {
            Masa: $("#ddlMasa").val(),
            Tahun: $("#ddlTahun").val(),
            KJSMapCode: $("#lookupNameddlKjsMapCode").val(),
            GLAccount: $("#lookupNameddlGlAccount").val(),
            GLDescription: $("#lookupGlDescription").val(),
            TaxArticle: $("#lookupNameddlTaxArticle").val(),
            eSPTType: $("#lookupNameddlSptType").val()
        };
        onGet(1);
    });

    //$("#ddlPageSize").change(function () {
    //    onGet(1);
    //});

    var sort = {
        sortBy: 0,
        sortDirection: true
    };

    function sortItem(field) {
        if (sort.sortBy == field) {
            sort.sortDirection = !sort.sortDirection;
        }
        else {
            sort.sortBy = field;
            sort.sortDirection = true;
        }
        onGet(1);
    }

    searchParam = {
        Masa: $("#ddlMasa").val(),
        Tahun: $("#ddlTahun").val(),
    };
    onGet(1);

    //Ajax POST/GET Method
    function onGet(page) {
        //clearCheckedItems();
        $.ajax({
            type: "POST",
            url: "@Html.Toyota().Page.GetActionUrl("GetWHTList")",
            data: {
                data: JSON.stringify(searchParam),
                sortBy: sort.sortBy,
                sortDirection: sort.sortDirection
            },
            beforeSend: function () {
                $('#btnSearch').button('loading');
                if (DEBUG) {
                    console.log('Search Start');
                }
            },
            success: function (result) {
                $("#gridWHT").html(result);
                $('#gridWHT td.y_n').each(function () {
                    var val = $(this).text();
                    if (val <= 3) {
                        $(this).css('color', 'red');
                    }
                });
                $('#gridWHT td.y_n2').each(function () {
                    var val = $(this).text();
                    if (val < 0) {
                        $(this).css('color', 'red');
                    }
                });
                freezeTable.init();
                if (DEBUG) {
                    console.log('Search Result Rendered');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (DEBUG) {
                    console.log("error: " + errorThrown);
                }
            },
            complete: function () {
                $('#btnSearch').button('reset');
                if (DEBUG) {
                    console.log('Search Done');
                }
            }
        });
    }

    function getPdf(name) {
        $.ajax({
            type: "POST",
            url: "@Html.Toyota().Page.GetActionUrl("CheckFileExists")",
            data: {
                name: name+".pdf"
            },
            beforeSend: function () {
            },
            success: function (result) {
                if (result.ResultCode) {
                    window.location = "@Html.Toyota().Page.GetActionUrl("DownloadTemp")" + "?filePath=" + result.ResultDescs + name + ".pdf";
                }
                else{
                    msgError("There is no file found");
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (DEBUG) {
                    console.log("error: " + errorThrown);
                }
            },
            complete: function () {
            }
        });
    }

    //Download
    function Download(type) {
        searchParam = {
            Masa: $("#ddlMasa").val(),
            Tahun: $("#ddlTahun").val(),
            KJSMapCode: $("#lookupNameddlKjsMapCode").val(),
            GLAccount: $("#lookupNameddlGlAccount").val(),
            GLDescription: $("#lookupGlDescription").val(),
            TaxArticle: $("#lookupNameddlTaxArticle").val(),
            eSPTType: $("#lookupNameddlSptType").val()
        };
        $.ajax({
            type: "POST",
            url: "@Html.Toyota().Page.GetActionUrl("GenerateDownloadFile")",
            data: {
                data: JSON.stringify(searchParam),
                type: type,
                checkAll: true
            },
            beforeSend: function () {
                $('#btnDownloadChoice').button('loading');
                if (DEBUG) {
                    console.log('Generate Download Start');
                }
            },
            success: function (result) {
                if (result.ResultCode) {
                    if (result.Data != null && result.Data != "") {
                        window.location = "@Html.Toyota().Page.GetActionUrl("DownloadTemp")" + "?filePath=" + result.Data;
                        onGet(1);
                        msgOk(result.ResultDesc);
                    }
                    else {
                        msgError("There is no file found");
                    }
                }
                else {
                    msgError(result.ResultDesc);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (DEBUG) {
                    console.log('Generate Download Error');
                    console.log("error: " + errorThrown);
                }
            },
            complete: function () {
                $('#btnDownloadChoice').button('reset');
                if (DEBUG) {
                    console.log('Generate Download Done');
                }
            }
        });
    }

    function onCallback(pg) {
        var mx = $("#txtMaxPage").val();
        if ((pg <= mx) && (pg > 0)) {
            onGet(pg);
        }
        else {
            msgWarning('Page not found');
        }
    }
</script>