﻿@using TAM.EFaktur.Web.Models.WHTSummary
@using TAM.EFaktur.Web.Models

@{
    List<WHTSummaryReportViewModel> WHTSummaryList = (List<WHTSummaryReportViewModel>)ViewData["WHTSummaryList"];
}

<div class="table-responsive _table-flow">
    <table class="table table-striped table-bordered table-condensed fixed-columns" id="tblWHTSummary" style="width: auto !important;">
        <thead>
            <tr>
                @*<th class="fixed-column _col-checkbox" width="35px;"><input type="checkbox" id="checkall" onclick="checkAll()" /></th>*@
                <th class="fixed-column _col">No. &nbsp;&nbsp;&nbsp;</th>
                <th class="fixed-column _col" onclick="sortItem(2)" style="cursor:pointer">KJS MAP Code &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th class="fixed-column _col" onclick="sortItem(3)" style="cursor:pointer">GL Account &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th class="fixed-column _col" onclick="sortItem(4)" style="cursor:pointer">GL Description &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th class="fixed-column _col" onclick="sortItem(5)" style="cursor:pointer">Tax Article &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th class="fixed-column _col" onclick="sortItem(6)" style="cursor:pointer">SPT Type &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(7)" style="cursor:pointer">Tax Based Amount &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(8)" style="cursor:pointer">Tax Amount &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(9)" style="cursor:pointer">*Due Date Payment &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(10)" style="cursor:pointer">ETC Payment (days) &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(11)" style="cursor:pointer">*Due Date Reporting &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(12)" style="cursor:pointer">ETC Reporting (days) &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(13)" style="cursor:pointer">Tax Payment &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(14)" style="cursor:pointer">Tax Payment Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(15)" style="cursor:pointer">Tax Reporting Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(16)" style="cursor:pointer">NTPN &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(19)" style="cursor:pointer">NTTE &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(17)" style="cursor:pointer">Planning vs Actual Payment (days) &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(18)" style="cursor:pointer">Planning vs Actual Reporting (days) &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
            </tr>
        </thead>
        <tbody>
            @if (WHTSummaryList != null && WHTSummaryList.Count > 0)
            {
                var no = 1;
                foreach (WHTSummaryReportViewModel WHT in WHTSummaryList)
                {
                    <tr>
                        @*<td class="text-center fixed-column">
                                <input id="@string.Format("chkGrid{0}", WHT.RowNum)" type="checkbox" class="check" onchange="javascript:checkGrid(this.id)" />
                                <input type="hidden" class="WHTId" value="@WHT.Id" />
                            </td>*@
                        <td class="fixed-column text-center">@no</td>
                        <td class="fixed-column text-center">@WHT.KJSMapCode</td>
                        <td class="fixed-column text-center">@WHT.GLAccount</td>
                        <td class="fixed-column">@WHT.GLDescription</td>
                        <td class="fixed-column text-center">@WHT.TaxArticle</td>
                        <td class="fixed-column text-center">@WHT.eSPTType</td>
                        <td class="text-right">@WHT.TaxBasedAmount.FormatViewCurrencyNullable()</td>
                        <td class="text-right">@WHT.TaxAmount.FormatViewCurrencyNullable()</td>
                        <td class="text-center">@WHT.DueDatePayment.FormatViewDate()</td>
                        <td class="text-center y_n">@WHT.ETCPaymentDays</td>
                        <td class="text-center">@WHT.DueDateReporting.FormatViewDate()</td>
                        <td class="text-center y_n">@WHT.ETCReportingDays</td>
                        <td class="text-right">@WHT.TaxPayment.FormatViewCurrencyNullable()</td>
                        <td class="text-center">@WHT.TaxPaymentDate.FormatViewDate()</td>
                        <td class="text-center">@WHT.TaxReportingDate.FormatViewDate()</td>
                        <td>
                            @if (WHT.NTPN != null && WHT.NTPN != "")
                            {
                                <a href="#" onclick="getPdf('@WHT.NTPN');">@WHT.NTPN</a>
                            }
                        </td>
                        <td>
                            @if (WHT.NTTE != null && WHT.NTTE != "")
                            {
                                <a href="#" onclick="getPdf('@WHT.NTTE');">@WHT.NTTE</a>
                            }
                        </td>
                        <td class="text-center y_n2">@WHT.PlanVsActualPaymentDays</td>
                        <td class="text-center y_n2">@WHT.PlanVsActualReportingDays</td>
                    </tr>
                    no++;
                }
            }
            else
            {
                <tr>
                    <td class="danger" colspan="19"><b class="padding-5">No Record</b></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@*<div class="row">
        <div class="col-xs-12 bottom-margin-20">
            @Html.Partial("_UIPaging")
        </div>
    </div>*@
