﻿@{
    ViewBag.Title = "WHTSummaryReport";
}

@section HeadScript{
    <style>
        ._searchCriteria {
            display: none;
        }
    </style>
}


@Html.Partial("_SearchCriteria")

<div class="_line-br"></div>

<div class="row">
    <div class="col-xs-12 col-sm-6">
        @*@Html.Partial("_UIPageSize")*@
    </div>
    <div class="col-xs-12 col-sm-6 text-right">
        <div class="form-group form-group-xs">
            @*@Html.Partial("_UITotalSelectedIndicator")*@
            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("TaxReport", "DownloadOriginal"))
            {
                <div class="btn-group btn-group-sm">
                    <button id="btnDownloadChoice" type="button" class="btn btn-primary" data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading...">Download</button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("TaxReport", "DownloadOriginal"))
                        {
                            <li><a href="#" onclick="Download('xls')">Original Data/File</a></li>
                        }
                    </ul>
                </div>
            }
            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("TaxReport", "UploadReport"))
            { 
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-warning">Upload</button>
                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("TaxReport", "UploadReport"))
                        {
                            <li>@Html.ActionLink("Report Payment Summary Data", "PopupUploadSummaryReport", "WHTSummary", null, new { @class = "modal-link" })</li>
                        }                   
                    </ul>
                </div>
            }
        </div>
    </div>
</div>
<div id="gridWHT">
    @Html.Partial("_SimpleGrid")
</div>
@section BodyScript{
    <script type="text/javascript">
        $(document).ready(function () {
            /* toggle show or hide searching criteria (that has class _searchCriteria) */
            //$("#lnsearch-toggle").click(function () {
            //    var _criteria = $("._searchCriteria");
            //    _criteria.toggle(200, "linear");

            //    var text = $("#lnsearch-toggle").text();
            //    $("#lnsearch-toggle").text(text == "Expand search criteria" ? "Less search criteria" : "Expand search criteria");
            //});
        });
    </script>
}
@Html.Partial("_Javascript")