﻿@using TAM.EFaktur.Web.Models.LogApplication
@using TAM.EFaktur.Web.Models

@{
    List<LogApplicationDashboardViewModel> LogApplication = (List<LogApplicationDashboardViewModel>)ViewData["LogApplicationListDashboard"];
}


<div id="gridLogApplication">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th onclick="sortItem(7)" style="cursor:pointer">Username &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i> </th>
                    <th onclick="sortItem(1)" style="cursor:pointer">IP &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(2)" style="cursor:pointer">Hostname &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(3)" style="cursor:pointer">Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th>Time</th>
                    <th onclick="sortItem(4)" style="cursor:pointer;width:60px;">Message Type &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(5)" style="cursor:pointer">Message Location &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(6)" style="cursor:pointer">Detail Message &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                </tr>
            </thead>

            <tbody>
                @if (LogApplication != null && LogApplication.Count > 0)
                {
                    foreach (LogApplicationDashboardViewModel modal in LogApplication)
                    {
                        <tr>
                            <td>@modal.Username</td>
                            <td>@modal.ClientIP</td>
                            <td>@modal.ClientHostName</td>
                            <td>@modal.LoginDate.FormatViewDate()</td>
                            <td>@modal.LoginDate.FormatViewTime()</td>
                            <td>@modal.MessageType</td>
                            <td>@modal.MessageLocation</td>
                            <td>@modal.MessageDetail</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="danger" colspan="19"><b class="padding-5">No Record</b></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-xs-12" style="margin-bottom: 20px;">
            @Html.Partial("_UIPaging")
        </div>
    </div>
</div>