﻿
<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>

    <h4 class="modal-title">Credit Note Upload</h4>
    <hr />
   
    <form id="uploader">

        @*<div id="progress" class="progress control-group after-add-more">
                <div class="progress-bar progress-bar-success"></div>
            </div>*@
        <div class="input-group control-group after-add-more">


            <select class="form-control" id="ddlCreditNoteType">
                <option value="Credit Note Sign Off">Credit Note Sign Off</option>
                <option value="Credit Note DGT">Credit Note DGT</option>
            </select>
            <div class="input-group-btn">

                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Select files...</span>
                    <!-- The file input field used as target for the file upload widget -->
                    <input id="fileupload" type="file" name="files[]" multiple>
                </span>


            </div>

        </div>


        <table class="table table-striped table-bordered table-condensed fixed-columns" id="FilesList" style="visibility:hidden; width: 100% !important;">
            <tr>
                <th>
                    File Name
                </th>
                <th>
                    Type
                </th>
                <th style="width:50px;">
                    Action
                </th>
            </tr>
        </table>

        <input type="button" id="btncancel" class="btn btn-default" value="CANCEL" onclick='CloseFile();' style="float:right" />
        <input type="button" id="btnupload" class="btn btn-primary" value="UPLOAD" data-loading-text="Loading..." style="float:right; visibility:hidden;" />

    </form>
    <br>
    <br>
    
</div>

<script type="text/javascript">
    var formdata = new FormData(); //FormData object
    var CreditNoteModel = [];

    $(document).ready(function () {


        $("#fileupload").on("change", function () {
            //CreditNoteModel = [];
            var allowedExtensions = /(\.PDF|\.pdf)$/i;
            var fileInput = document.getElementById('fileupload');
            //Iterating through each files selected in fileInput

            for (i = 0; i < fileInput.files.length; i++) {

                var sfilename = fileInput.files[i].name;
                var ddlCrdeditNoteType = $('#ddlCreditNoteType').val();
                if (!allowedExtensions.exec(sfilename)) {

                    msgError("Only PDF File Type allowed.");
                    return false;
                }
                else {
                    const isexist = CreditNoteModel.filter(d => d.FileName === sfilename && d.CreditNoteType === ddlCrdeditNoteType);
                    if (isexist.length > 0) {
                        msgError(sfilename + " file already exists.");
                        return false;
                    }
                    else {


                        let srandomid = Math.random().toString(36).substring(7);
                      

                        CreditNoteModel.push({
                            Id: srandomid, FileName: sfilename, CreditNoteType: ddlCrdeditNoteType
                        }
                        );

                        formdata.append(sfilename, fileInput.files[i]);

                        var markup = "<tr id='" + srandomid + "'><td>" + sfilename + "</td><td>" + ddlCrdeditNoteType + "</td><td><button type='button' id='btnDelete' class='btn btn-danger' onclick = 'DeleteFile(\"" + srandomid + "\",\"" + sfilename +
                            "\")'>Delete</button ></td></tr>"; // Binding the file name
                        $("#FilesList tbody").append(markup);
                    }
                }


            }

            chkatchtbl();

            $('#fileupload').val('');
        });

        $("#btnupload").click(function (e) {

            e.preventDefault();
            var warning = 'Are you sure want to Save data ?';
            if (confirm(warning)) {
                formdata.append('data', JSON.stringify(CreditNoteModel));



                $.ajax({


                    url: '/VATOutSalesReturn/UploadFilesData',
                    type: "POST",

                    contentType: false,
                    processData: false,
                    data: formdata,
                    async: false,
                    beforeSend: function (result) {
                        $('#btnupload').button('loading');

                        $("input").attr('disabled', 'disabled');
                        if (DEBUG) {
                            console.log(result);
                        }
                    },
                    success: function (result) {
                        console.log(result);
                        if (result.ResultCode) {

                            msgInfo(result.ResultDesc);
                            onGet(1);
                            if (DEBUG) {
                                console.log("Upload Success");
                                console.log(result);
                            }
                        }
                        else {
                            msgError(result.ResultDesc);
                        }

                    },

                    error: function (result) {
                        msgError(result.ResultDesc);
                        $('#btnupload').button('reset');
                        //alert(result.ResultDesc);
                    },
                    complete: function (xhr) {
                        $('#btnupload').button('reset');
                        $("input").removeAttr('disabled');

                        CloseFile();
                        if (DEBUG) {
                            console.log(' Done');
                        }
                    }
                });
                formdata.delete('data', JSON.stringify(CreditNoteModel));
                CreditNoteModel = [];
            };
                //CreditNoteModel.splice(0, CreditNoteModel.length);
            });

    });

    
    function DeleteFile(Fileid, FileName) {
        formdata.delete(FileName);
        $("#" + Fileid).remove();
        chkatchtbl();

        for (var i = 0; i < CreditNoteModel.length; i++) {
            if (CreditNoteModel[i].Id == Fileid) {
                CreditNoteModel.splice(i, 1);
                break;
            }
        }
    }

    function CloseFile() {
        $('#modal-container').modal('hide');
        CreditNoteModel = [];
    }


    function chkatchtbl() {
        if ($('#FilesList tr').length > 1) {
            $("#FilesList").css("visibility", "visible");
            $("#btnupload").css("visibility", "visible");

        } else {
            $("#FilesList").css("visibility", "hidden");
            $("#btnupload").css("visibility", "hidden");
        }
    }
</script>
