﻿@{
    ViewBag.Title = "VATOutSalesReturnDashboard";
}

@section HeadScript{
    <style>
        ._searchCriteria {
            display: none;
        }
    </style>
}

@Html.Partial("_SearchCriteria")

<div class="_line-br"></div>


<div class="row">
    <div class="col-xs-12 col-sm-6">
        @Html.Partial("_UIPageSize")
    </div>
    <div class="col-xs-12 col-sm-6 text-right">
        <div class="form-group form-group-xs">
            @Html.Partial("_UITotalSelectedIndicator")


            @*add button*@
            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOutSalesReturn", "PdfOriginal") ||
                Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOutSalesReturn", "PdfSignOff") ||
                Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOutSalesReturn", "PdfDgt"))
            {
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-primary">Print</button>

                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOutSalesReturn", "PdfOriginal"))
                        {
                            <li><a href="#" onclick="btnPrint('PdfOriginal')">Credit Note Original</a></li>
                        }
                        @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOutSalesReturn", "PdfSignOff"))
                        {
                            <li><a href="#" onclick="btnPrint('PdfSignOff')">Credit Note Sign Off</a></li>
                        }
                        @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOutSalesReturn", "PdfDgt"))
                        {
                            <li><a href="#" onclick="btnPrint('PdfDgt')">Credit Note DGT</a></li>
                        }
                    </ul>
                </div>
            }

            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-warning" id="btnAction" data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading...">Action</button>
                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a style="cursor:pointer" onclick="DeleteVATOutReturn()">Delete</a></li>
                </ul>
            </div>

            @*<button id="btndelete" type="button" onclick="DeleteVATOutReturn()" class="btn btn-primary btn-sm" data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading...">Delete</button>*@

            @*batas add button*@

            @if
                                        (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOutSalesReturn", "DownloadCSV") ||
                                        Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOutSalesReturn", "DownloadOriginal") ||
                                        Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOutSalesReturn", "DownloadReport") ||
                                        Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOutSalesReturn", "DownloadPDFOriginal") ||
                                        Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOutSalesReturn", "DownloadPDFTTD") ||
                                        Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOutSalesReturn", "DownloadPDFDGT"))


            {
                <div class="btn-group btn-group-sm">
                    <button id="btnDownloadChoice" type="button" class="btn btn-primary" data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading...">Download</button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">

                        @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOutSalesReturn", "DownloadCSV"))
                        {
                            <li><a href="#" onclick="Download('csv')">Converted to .csv file</a></li>
                        }
                        @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOutSalesReturn", "DownloadOriginal"))
                        {
                            <li><a href="#" onclick="Download('xls')">Original Data/File</a></li>
                        }
                        @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOutSalesReturn", "DownloadReport"))
                        {
                            <li><a href="#" onclick="Download('report')">Report</a></li>
                        }

                        @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOutSalesReturn", "DownloadPDFOriginal"))
                        {
                            <li><a href="#" onclick="Download('pdfori')">Credit Note Original</a></li>
                        }
                        @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOutSalesReturn", "DownloadPDFTTD"))
                        {
                            <li><a href="#" onclick="Download('pdfttd')">Credit Note Sign-Off</a></li>
                        }
                        @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOutSalesReturn", "DownloadPDFDGT"))
                        {
                            <li><a href="#" onclick="Download('pdfdgt')">Credit Note DGT</a></li>
                        }
                    </ul>
                </div>
            }
            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOutSalesReturn", "UploadTaxInvoice") ||
                             Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOutSalesReturn", "UploadApprovalStatus") ||
                            Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOutSalesReturn", "TaxinvoiceDataLexus"))

            {
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-warning">Upload</button>
                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOutSalesReturn", "UploadTaxInvoice"))
                        {
                            <li>@Html.ActionLink("Tax Invoice Data", "PopupUploadTaxInvoice", "VATOutSalesReturn", null, new { @class = "modal-link" })</li>
                        }

                        @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOutSalesReturn", "TaxinvoiceDataLexus"))
                        {
                            <li>@Html.ActionLink("Tax Inv. Data Motor Vehicle", "PopupUploadTaxDataLexus", "VATOutSalesReturn", null, new { @class = "modal-link" })</li>
                        }

                        @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOutSalesReturn", "UploadApprovalStatus"))
                        {
                            <li>@Html.ActionLink("Approval Status ", "PopupUploadApprovalStatus", "VATOutSalesReturn", null, new { @class = "modal-link" })</li>
                        }

                        @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOutSalesReturn", "UploadApprovalStatus"))
                        {
                            <li>@Html.ActionLink("Transitory Status ", "PopupUploadTransitoryStatus", "VATOutSalesReturn", null, new { @class = "modal-link" })</li>
                        }

                        @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOutSalesReturn", "UploadApprovalStatus"))
                        {
                            <li>@Html.ActionLink("Upload PDF Credit Note", "PopupUploadCreditNote", "VATOutSalesReturn", null, new { @class = "modal-link" })</li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
</div>
@Html.Partial("_SimpleGrid")

@section BodyScript{
    <script type="text/javascript">
        $(document).ready(function () {

            $(".btn-edit").click(function () {
                $("#edit-popup").modal();
            });

            $(".btn-delete").click(function () {
                $("#delete-confirm").modal();
            });
            /* toggle show or hide searching criteria (that has class _searchCriteria) */
            $("#lnsearch-toggle").click(function () {
                var _criteria = $("._searchCriteria");
                _criteria.toggle(200, "linear");

                var text = $("#lnsearch-toggle").text();
                $("#lnsearch-toggle").text(text == "Expand search criteria" ? "Less search criteria" : "Expand search criteria");
            });
            /* toggle column on tablegrid (that <th> has class _toggle-detail) */
            //$("#btnToggleDetail").click(function () {
            //    var _detail = $("._toggle-detail");

            //    _detail.each(function () {
            //        pos = $(this).index();
            //        $(this).toggle();
            //        $("td:nth-child(" + (pos + 1) + ")").toggle();
            //    });
            //});
        });
    </script>
}
@Html.Partial("_Javascript")